#slimheader
	background-color: $italia-brand-color
	position: fixed
	top: 0
	width: 100%
	z-index: 999
	font-size: 16px
	line-height: 16.1px
	color: #fff
	text-decoration-line: none
	text-decoration-skip: objects
	text-decoration-style: solid
	text-size-adjust: 100%
	+media($tablet)
		position: relative
		font-size: 16px
	.burger
		display: none
		width: 32px
	&.shift
		position: fixed
		.burger
			+media($tablet)
				display: inline-block
				float: right
	a
		color: #fff
		text-decoration: none
	.sh__wrapper
		max-width: 94vw
		margin-left: 20px
		margin-right: 20px
		padding-top: 18px
		padding-bottom: 18px
		+media($tablet)
			border-bottom: 1px solid #127ae2
	.sh__institutional
		display: inline-block
	.sh__tabs
		display: inline-block
		float: right
		+media(max-width 994px)
			display: none
	.sh__tabsul
		margin: 0
		li
			display: inline-block
			padding-right: 10px
			padding-left: 10px
			&.delimiter
				border-right: 1px solid #127ae2
			&.current
				a
					border-bottom: 3px solid #fff
			&:hover
				a
					border-bottom: 3px solid #fff
			a
				padding-bottom: 11px
				padding-right: 10px
				padding-left: 10px

.pushy-menu-btn
	display: none
	padding-right: 13px
	margin-right: 6px 
	border-right: 1px solid #127ae2
	+media(max-width 994px)
		display: inline
	img
		position: relative
		top: -2px

//useful override, cause the absolute position of #slimheader obscure the logo
.wy-side-nav-search
	padding-top: 68px

.wy-nav-content
	padding-top: 68px