.u-background-gradient-t-b-blue-50
  background: linear-gradient(to bottom, #06c 0%, #0c5cb2 100%)

.u-minHeight-80
  min-height: 80px

.Header
  a:hover
    text-decoration: none
  a:visited
    color: #fff
  .Header-banner
    border-bottom: 1px solid #127ae2
  .Header-owner
    border-bottom: 0

.Card__book
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) .8rem, rgba(255, 255, 255, 1) .8rem, rgba(255, 255, 255, 1) 100%), linear-gradient(to bottom, #0f65cb 0, #0f65cb 5.6rem, #5a6772 5.6rem, #5a6772 100%)
  @media only screen and (min-width: 992px)
    min-height: 20em
