/* Theme variables */
@import "bootstrap-italia/src/scss/bootstrap-italia";
@import "abstract/variables";

/* Base */
@import "base/helpers";
@import "base/icon";
@import "base/normalize";

/* Theme layout */
@import "layout/general";
@import "layout/dropdown";
@import "layout/header";
@import "layout/navbar-secondary-offcanvas";
@import "layout/sidebar";
@import "layout/content";
@import "layout/admonitions";
@import "layout/footer";
@import "layout/tooltip";
@import "layout/content-nav";
@import "layout/scrollbar";
@import "layout/table";
@import "layout/note";
@import "layout/comments";
@import "layout/side-menu";
@import "layout/glossary";
@import "layout/back-to-top";
@import "layout/modals";
