$comment_font_size: 14px;
$comment_line_height: 21px;
$letter_spacing: 0.88px;

.block-comments {
  font-family: $font-family-sans-serif;
  margin-top: 2rem;
  margin-bottom: 0.25rem;

  p {
    font-family: $font-family-sans-serif;
  }
}

.block-comments__header {
  border-bottom-color: $grey !important;
  border-top-color: $grey-light-01 !important;

  h6 {
    color: $medium-blue;
  }
}

.block-comments__img {
  width: 56px;
}

.block-comments__logout-link {
  display: none;
  padding-top: 0.25em;

  &--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $red;
    text-shadow: 0 0 20px black;

    &:hover {
      color: white;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &--visible {
    display: block;
    position: relative;
  }
}

.block-comments__input {
  margin-bottom: 1em !important;

  &:hover {
    .block-comments__logout-link {
      display: block;
    }
  }

  input {
    border: 1px $grey-light-01 solid;
    border-radius: 5px;

    &:focus {
      border: 1px $grey-mid solid;
    }

    &::placeholder {
      color: $grey;
    }
  }
}

.block-comments__toggle-btn {
  background: none;
  width: 2rem;
  height: 2rem;

  .docs-icon-plus,
  .docs-icon-minus {
    color: $medium-blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .docs-icon-plus {
    display: none;
  }

  &.collapsed {
    .docs-icon-plus {
      display: block;
    }

    .docs-icon-minus {
      display: none;
    }
  }
}

.block-comments__item-btn {
  background: none;
  width: 2rem;
  height: 1.5rem;
  border: 0;

  .docs-icon-collapse,
  .docs-icon-expand {
    color: $medium-blue;
  }

  .docs-icon-expand {
    display: none;
  }

  &.collapsed {
    .docs-icon-collapse {
      display: none;
    }

    .docs-icon-expand {
      display: inline-block;
    }
  }
}

.block-comments__name {
  color: $medium-blue;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
}

.block-comments__date,
.block-comments__role {
  font-size: $comment_font_size;
  line-height: $comment_line_height;
}

.block-comments__role {
  letter-spacing: $letter_spacing;
}

.block-comments__paragraph {
  font-size: $comment_font_size;
  line-height: $comment_line_height;

  a {
    text-decoration: underline;
  }
}

form[id^="new-comment-"] {
  position: relative;
  width: 100%;

  textarea {
    min-height: 5em;
    font-weight: normal;
    border: 1px $grey-light-01 solid;
    border-radius: 5px;

    &:focus {
      border: 1px $grey-mid solid;
    }

    &::placeholder {
      color: $grey;
    }
  }

  &.sending::after {
    content: '';
    position: absolute;
    background: white;
    width: 100%;
    height: 102%;
    left: 0;
    top: 0;
  }

  &.sending::before {
    content: 'Invio del commento...';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

li[id^="docs-comment-"] {
  &.is-new {
    background: lightyellow;
    padding-top: 0.5em;
    border-radius: 5px;
    box-shadow: 0 0 10px lightblue;
  }
}

.new-comment {
  &__login {
    display: flex;
    border: 1px solid $lightgrey-a2;
    border-radius: 5px;
    padding: 1em;
  }

  &__legend {
    font-size: $comment_font_size - 2;
  }

  &__user-image {
    border-radius: 50%;
    position: relative;
    height: 56px;
    width: 56px;
    float: left;

    &--anon {
      margin: 0.25em;
      margin-right: 1em;
      background-color: $lightgrey-a1;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__suggestions {
    &__tooltip {
      .tooltip__content {
        padding-left: 1.75em;
        font-size: 0.95em;
      }
    }
  }

  &__buttons {
    float: left;
  }

  &__required {
    float: right;

    & > span {
      font-size: 0.8em;
    }
  }
}
