$comment_font_size: 14px;
$comment_line_height: 21px;
$letter_spacing: 0.88px;

.block-comments {
  margin-top: 4.4rem;
  padding-bottom: 2rem;
}

.block-comments__body {
  p {
    font-family: $font-family-sans-serif;
  }
}

.block-comments__header {
  border-bottom-color: $grey !important;
  border-top-color: $grey-light-01 !important;

  h6 {
    color: $medium-blue;
  }
}

.block-comments__img {
  width: 56px;
}

.block-comments__reply-anchor {
  margin-top: -5em;
  padding-top: 5em;
}

.block-comments__logout-link {
  display: none;
  padding-top: 0.25em;

  &--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $red;
    text-shadow: 0 0 20px black;

    &:hover {
      color: white;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &--visible {
    display: block;
    position: relative;
  }
}

.block-comments__input {
  margin-bottom: 1em !important;
}

.block-comments__toggle-btn {
  background: none;
  width: 2rem;
  height: 2rem;

  .docs-icon-plus,
  .docs-icon-minus {
    color: $medium-blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .docs-icon-plus {
    display: none;
  }

  &.collapsed {
    .docs-icon-plus {
      display: block;
    }

    .docs-icon-minus {
      display: none;
    }
  }
}

.block-comments__item-btn {
  background: none;
  width: 2rem;
  height: 1.5rem;
  border: 0;

  .it-collapse,
  .it-expand {
    color: $medium-blue;
  }

  .it-expand {
    display: none;
  }

  &.collapsed {
    .it-collapse {
      display: none;
    }

    .it-expand {
      display: inline-block;
    }
  }
}

.block-comments__item {
  padding-top: 1em;

  &.hidden {
    opacity: 0.5;
  }

  &.is-new {
    background-color: $light-blue;
    animation: background-fade-highlight 2s ease-out 1 forwards;
  }
}

.block-comments__content {
  word-wrap: break-word;
}

.block-comments__name {
  color: $medium-blue;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
}

.block-comments__date,
.block-comments__role {
  font-size: $comment_font_size;
  line-height: $comment_line_height;
}

.block-comments__role {
  letter-spacing: $letter_spacing;
}

.block-comments__paragraph {
  font-size: $comment_font_size;
  line-height: $comment_line_height;

  a {
    text-decoration: underline;
  }
}

.box-comment {
  &:not(.sending) {
    .loading {
      display: none;
    }
  }

  &.sending {
    .loading {
      margin-left: 1em;
      display: inline-block !important;
      position: relative;
      overflow: visible;
      width: 40px;
      z-index: 1;

      &::before {
        border: 5px solid $blue !important;
        top: 60%;
      }
    }
  }

  position: relative;
  width: 100%;

  textarea {
    min-height: 5em;
    font-weight: normal;
    border: 1px $grey-light-01 solid;
    border-radius: 5px;

    &:focus {
      border: 1px $grey-mid solid;
    }

    &::placeholder {
      color: $grey;
    }
  }

  &__login {
    display: flex;
    border: 1px solid $lightgrey-a2;
    border-radius: 5px;
    padding: 1em;
  }

  &__legend {
    font-size: $comment_font_size - 2;
  }

  &__user-image {
    border-radius: 50%;
    position: relative;
    height: 56px;
    width: 56px;
    float: left;

    &--anon {
      margin: 0.25em;
      margin-right: 0.75em;
      background-color: $lightgrey-a1;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__buttons {
    float: left;
  }

  &__required {
    float: right;

    & > span {
      font-size: 0.8em;
    }
  }

  &__submit {
    position: relative;
    overflow: hidden;

    .loading.no-bg {
      display: none;
      width: 30px;
      height: 0;
      content: ' ';
      overflow: visible;
      margin-bottom: 5px;
      margin-left: -15px;
      margin-right: 5px;

      &::before {
        left: auto;
      }
    }

    & > div:not(.loading) {
      display: inline;
    }
  }

  &__suggestions {
    &__tooltip {
      .tooltip__content {
        font-style: normal;
        padding-left: 1.75em;
        font-size: 0.95em;
      }
    }
  }
}

.missing_permission {
  width: 100%;

  &__text {
    border: 1px solid $lightgrey-a2;
    border-radius: 5px;
    padding: 1em;
  }
}

@keyframes background-fade-highlight {
  to {
    background-color: transparent;
  }
}
