.dropdown-menu {
  background-color: #fff;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.35);
  z-index: 100;

  @include media-breakpoint-down(md) {
    position: fixed !important;
    z-index: 1001 !important;
    top: calc(50% - 80px) !important;
    left: calc(50% - 80px) !important;
    transform: none !important;

    &::before {
      display: none;
    }
  }

  .dropdown-item {
    color: #0073e6;

    &.active,
    &:active {
      font-weight: 600;
      text-decoration: inherit;
      background-color: inherit;
    }
  }
}
