#glossary-page {
  > .chapter-header {
    display: none;
  }

  .chapter-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    overflow: hidden;

    h2 {
      font-size: 8rem;
      font-family: $stack-font;
      line-height: 1;
    }
  }

  .glossary-page__btn {
    border: 0;
    background: none;
    cursor: pointer;
    color: $blue;
    display: block;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.3s;

    .docs-icon-minus,
    .docs-icon-plus {
      color: $blue;
    }

    .docs-icon-minus {
      display: inline-block;
    }

    .docs-icon-plus {
      display: none;
    }

    &.collapsed {
      color: $grey-mid;

      .docs-icon-minus {
        display: none;
      }

      .docs-icon-plus {
        display: inline-block;
      }
    }
  }

  .term-content {
    padding-left: 2.3rem;
    font-family: $titillium-font;

    p {
      font-family: $titillium-font;
    }

    &:last-of-type {
      &.show {
        border-bottom: 2px $grey-light-02 solid;
      }
    }
  }

  dt {
    &:last-of-type {
      .glossary-page__btn {
        &.collapsed {
          border-bottom: 2px $grey-light-02 solid;
        }
      }
    }
  }
}

.glossary-page__copy-link-wrap {
  color: $blue;
}

.glossary-page__copy-link {
  background: none;
  border: none;
  color: $blue;
  cursor: pointer;
}
