.h1--header {
  font-size: 1.333rem;
  line-height: 1.2;
  letter-spacing: unset;

  span {
    font-size: 0.7rem;
    font-weight: 400;
  }
}

.svg--header {
  width: 50px;
  height: 40px;
}

.h2--header {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: unset;
}

.doc-Italia__document-title {
  font-size: 0.9rem;
  font-weight: 400;
}

.doc-Italia {
  #cerca {
    border: 1px $grey solid;
    font-size: 0.8rem;
    font-weight: 100;

    &::placeholder {
      color: $grey;
    }
  }
}

.doc-Italia__header-col {
  flex: 0 0 auto;
}

.info--header {
  /* background */
}
