.header {
  font-size: 1rem;

  .navbar-brand {
    font-size: 0.889rem;
    font-weight: 600;

    a {
      text-decoration: none;
    }
  }

  .navbar .dropdown-toggle::after {
    margin: 0 0.2rem;
    font-size: 0.7rem;
  }

  .nav-item {
    margin-left: 0.2rem;

    @include media-breakpoint-up(lg) {
      border-left: 0;
      margin-left: 0;
    }

    &.active {
      font-weight: 600;
    }

    &:not(.nav-text):not(.nav-item--no-underline):hover,
    &:not(.nav-text):not(.nav-item--no-underline).active {
      border-left: 0.2rem solid $white;
      margin-left: 0;

      @include media-breakpoint-up(lg) {
        border-left: 0;
        margin-left: 0;
        border-bottom: 2px solid $white;
        margin-bottom: 0;
      }
    }
  }
}

.slim-header {
  font-size: 0.889rem;

  .navbar-toggler {
    .navbar__icon {
      font-size: 0.7rem;
      line-height: 3em;
      display: inline-block;
      transform: scaleY(-1);
      transition: transform 0.3s;
    }

    &.collapsed .navbar__icon {
      transform: scaleY(1);
    }

    .dropdown-toggle::after {
      content: "";
    }
  }

  &.navbar .divider {
    border-top: 0.05rem solid $medium-blue-01;
    padding-right: 1px;
    width: 10%;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    padding-bottom: 1px;

    &:first-child {
      margin-top: 1px;
    }

    &.divider--w-100 {
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: inherit;
      }
    }

    @include media-breakpoint-up(lg) {
      border-top: 0;
      width: inherit;
      margin-top: inherit;
      margin-bottom: inherit;
      border-right: 0.05rem solid $medium-blue;
      padding-right: 1px;
      margin-left: 0;
    }
  }
}

.secondary-nav {
  font-weight: 600;

  &.secondary-nav--offcanvas {
    @include media-breakpoint-down(md) {
      transform: translateX(-100%);
      z-index: 10;
      background-color: $white;
      color: $medium-blue;
      transition: transform 0.3s;
      transition-timing-function: ease-in-out;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 25%;
      overflow-y: auto;

      &.active {
        transform: translateX(0);
      }
    }
  }

  .navbar-nav li {
    padding: 0.5rem;
    border-bottom: 0.2rem solid transparent;
  }

  .nav-item:not(.nav-text):not(.nav-item--no-underline):hover,
  .nav-item:not(.nav-text):not(.nav-item--no-underline).active {
    border-bottom: 0.2rem solid $white;
  }
}

.article-intro-more .dropdown {
  // Modal behaviour
  @include media-breakpoint-down(md) {
    &.show::before {
      content: '';
      width: 100vw;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    background-color: #fff;
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.35);
    z-index: 100;

    @include media-breakpoint-down(md) {
      position: fixed !important;
      z-index: 1001 !important;
      top: calc(50% - 140px) !important;
      left: calc(50% - 140px) !important;
      transform: none !important;

      &::before {
        display: none;
      }
    }

    .dropdown-item {
      color: #0073e6;
    }
  }
}

.lang-selector .dropdown {
  // Modal behaviour
  @include media-breakpoint-down(md) {
    &.show::before {
      content: '';
      width: 100vw;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  }

  .dropdown-menu {
    background-color: #fff;
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.35);
    z-index: 100;

    @include media-breakpoint-down(md) {
      position: fixed !important;
      z-index: 1001 !important;
      top: calc(50% - 80px) !important;
      left: calc(50% - 80px) !important;
      transform: none !important;

      &::before {
        display: none;
      }
    }

    .dropdown-item {
      color: #0073e6;

      &.active,
      &:active {
        font-weight: 600;
        text-decoration: inherit;
        background-color: inherit;
      }
    }
  }
}

// *********************

.h1--header {
  font-size: 1.333rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: unset;

  @include media-breakpoint-up(sm) {
    font-size: 1.8rem;
  }

  span {
    font-size: 0.7rem;
    font-weight: 400;
  }
}

.svg--header {
  width: 39px;
  height: 36px;

  @include media-breakpoint-up(sm) {
    width: 65px;
    height: 60px;
  }
}

.h2--header {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: unset;
}

.docs__document-info {
  color: $white;
  font-size: 0.9rem;
  vertical-align: bottom;

  .docs__document-info__icon {
    font-size: 1.2rem;
    vertical-align: bottom;
  }

  .docs__document-info__ownership {
    .docs__document-info__label {
      font-size: 0.8rem;
    }

    .docs__document-info__icon {
      font-size: 1rem;
    }
  }
}

.doc-header {
  box-shadow: 0 0 120px 0 rgba($black, 0.1);
  position: relative;
  z-index: 10;
  color: $blue;
  font-size: 16px;
  font-weight: 600;

  // .btn {
  //   span {
  //     font-size: 1.3rem;
  //     display: block;
  //   }
  // }

  // Feature progress-bar
  .progress-container {
    width: 100%;
    height: 0.25rem;
    background: $light-blue;
  }

  .progress-bar {
    height: 0.25rem;
    background: $medium-blue;
    width: 0%;
  }
}

.docs-italia {
  #cerca {
    border: 1px $grey solid;
    font-size: 0.8rem;
    font-weight: 100;

    &::placeholder {
      color: $grey;
    }
  }
}

.social {
  color: $white;

  .social__label {
    font-size: 0.95rem;
  }

  .social__link {
    color: $white;
    font-size: 1rem;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

#rtd-search-form {
  border: 1px solid #ccc;

  input[type="text"] {
    border: none;
    height: 100%;
  }

  .input-group-append button {
    background-color: $white;

    .docs-icon-search {
      font-size: 1.2rem;
    }
  }
}

#documentInfo .tag {
  font-family: $font-family-base;
}
