.doc-header {
  box-shadow: 0 0 120px 0 rgba($black, 0.1);
  position: relative;
  z-index: 10;

  // Feature progress-bar
  .progress-container {
    width: 100%;
    height: 0.25rem;
    background: $light-blue;
  }

  .progress-bar {
    height: 0.25rem;
    background: $medium-blue;
    width: 0%;
  }
}

.h1--header {
  font-size: 1.333rem;
  line-height: 1.2;
  letter-spacing: unset;

  span {
    font-size: 0.7rem;
    font-weight: 400;
  }
}

.svg--header {
  width: 50px;
  height: 40px;
}

.h2--header {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: unset;
}

.docs-italia__document-title {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.docs-italia__document-title-icon {
  font-size: 2rem;
  float: left;
  margin-right: 0.625rem;
}

.docs-italia {
  #cerca {
    border: 1px $grey solid;
    font-size: 0.8rem;
    font-weight: 100;

    &::placeholder {
      color: $grey;
    }
  }
}

.docs-italia__header-col {
  flex: 0 0 auto;

  .btn {
    padding: 0;

    .it-icon {
      font-size: 1.3rem;
    }
  }
}

.info--header {
  /* background */
}
