.offcanvas-menu {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.animate--left {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  &.js-active {
    transform: translate3d(0, 0, 0);
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  .offcanvas-menu__inner {
    width: 80%;
    background-color: #fff;
    height: 100vh;
    transform: translateX(0);
    transition: all 0.5s ease-out;

    .offcanvas-menu__header {
      padding: 1.5rem 1.8rem 1rem;

      .offcanvas-menu__title {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }

    .offcanvas-menu__nav {
      padding: 0.5rem 0 0 0;
      margin: 0;

      .offcanvas-menu__nav__item {
        list-style: none;
        margin: 0;
        padding: 0.5rem 1rem;

        // Horiontal separators
        &:nth-child(1),
        &:nth-child(4) {
          position: relative;

          &::before {
            content: '';
            width: 64px;
            height: 1px;
            left: 2rem;
            border-top: 1px solid rgba(0, 102, 204, 0.2);
            position: absolute;
            top: 0;
          }
        }

        .offcanvas-menu__nav__link {
          padding: 0.5rem 1rem;
          font-size: 1rem;
          display: block;
        }
      }
    }
  }

  &.deactive .offcanvas-menu__inner {
    margin-left: -80%;
    overflow: hidden;
  }

  .offcanvas-menu__extra {
    width: 20%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  transition: opacity 0.4s, transform 0s 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

body.show-menu::before {
  opacity: 1;
  transition: opacity 0.8s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transform: translate3d(0, 0, 0);
}
