#doc-content {
  .footnote-reference {
    color: $dark-blue-border;
    border: 1px $dark-blue-border solid;
    border-radius: 3px;
    padding: 0 0.4rem;
    line-height: 1.4;
  }

  .note-action {
    margin-top: 0.5rem;
  }

  .note-close-btn,
  .note-back-btn {
    background: none;
    border: 0;
    display: inline-block;
    color: $blue;
    font-size: 1.2em;
    cursor: pointer;
  }

  .note-back-btn {
    position: relative;

    &::before {
      content: '';
      top: 0;
      bottom: 0;
      width: 1px;
      position: absolute;
      background-color: $blue;
      left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .docutils.footnote {
    color: $black;
    font-size: 0.8rem;
    display: none;
    margin-bottom: 2rem;

    td {
      width: 100%;
      float: left;
    }

    .fn-backref {
      color: $dark-blue-border;
      border: 1px $dark-blue-border solid;
      border-radius: 3px;
      padding: 0.2rem;
      line-height: 1;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
}
