#menu {
  padding-bottom: 5rem;

  @media (max-width: 765.98px) {
    padding-top: 5rem;
  }

  > .sidebar-list--wrapper {
    > ul {
      a {
        text-decoration: none;
        color: $grey-mid;
        font-size: 0.9rem;
      }

      > li {
        margin-bottom: 1rem;
        padding: 1rem;

        > a {
          font-weight: 800;
        }
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      &.current {
        > li.current {
          background-color: $light-blue;
        }
      }

      ul {
        padding-left: 1rem;
      }
    }
  }
}
