.sidebar-nav {
  @media (max-width: 765.98px) {
    padding-top: 6.5rem;
  }

  > .sidebar-list--wrapper {
    padding: 1rem 1rem 0;

    > ul {
      a {
        text-decoration: none;
        color: $grey-mid;
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
        display: block;
        line-height: 1.6;
      }

      > li {
        > a {
          font-weight: 800;
        }
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

      &.current {
        > li.current {
          background-color: $grey-light;
        }
      }

      ul {
        padding-left: 1rem;
      }
    }

    &.content-index--menu {
      > ul {
        > li {
          padding-bottom: 1rem;
        }
      }
    }

    &.figures-index--menu,
    &.table-index--menu,
    &.glossary-mobile--menu {
      > ul {
        > li {
          padding-bottom: 0;
        }
      }
    }
  }
}
