#doc-content
  table
    border: 0
  thead
    .head
      border-right: 0
      border-left: 0
      text-transform: uppercase
      color: $black
      font-size: .75rem
  td
    border-right: 0
    border-left: 0
  tr
    font-size: .75rem
    td:nth-of-type(1)
      font-weight: 800
      color: $dark-blue
