*.pyc
*.egg-info
*.egg
*.inc
*build/
.tox
.pytest_cache
.coverage
*.DS_Store
*.sass-cache
.ropeproject/
.ruby-version
.python-version
.idea/
TODO
dist/
bower_components/
node_modules/
npm-debug.log
.venv
