include *.txt
include LICENSE
recursive-include docs-italia-theme *.conf
recursive-include docs-italia-theme *.css
recursive-include docs-italia-theme *.eot
recursive-include docs-italia-theme *.html
recursive-include docs-italia-theme *.js
recursive-include docs-italia-theme *.svg
recursive-include docs-italia-theme *.png
recursive-include docs-italia-theme *.ttf
recursive-include docs-italia-theme *.woff
recursive-include docs-italia-theme *.woff2
recursive-include docs-italia-theme/data *.yaml
recursive-include docs-italia-theme/data *.yml
recursive-include docs-italia-theme/data *.json
