include *.txt
include LICENSE
recursive-include sphinx_italia_theme *.conf
recursive-include sphinx_italia_theme *.css
recursive-include sphinx_italia_theme *.eot
recursive-include sphinx_italia_theme *.html
recursive-include sphinx_italia_theme *.js
recursive-include sphinx_italia_theme *.svg
recursive-include sphinx_italia_theme *.ttf
recursive-include sphinx_italia_theme *.woff
recursive-include sphinx_italia_theme *.woff2
recursive-include sphinx_italia_theme/data *.yaml
recursive-include sphinx_italia_theme/data *.yml
recursive-include sphinx_italia_theme/data *.json
