/* Color */
$white: #fff;
$black: #000;
$light-blue: #e6f3fe;
$light-blue-01: #00c4c8;
$blue: #0073e6;
$medium-blue: #06c;
$medium-blue-01: #799ebc;
$mid-dark-blue: #004e95;
$dark-blue: #002b4d;
$sky-blue: #bffffd;
$grey-light: #f9fafb;
$grey-light-01: #eeeff0;
$grey: #ccc;
$grey-mid: #596771;
$grey-mid-01: #8998a5;
$grey-dark: #0b0b0b;
$dark-blue-border: #193e5e;
$red: #d83750;
$orange: #df7d26;

/* Font */
$stack-font: "Lora", serif;
$titillium-font: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

$chapter-nav-width: 200px;
$sidebar-width: 350px;

// Icon
$icomoon-font-path: "../fonts" !default;

$it-icon-more: \e900;
$it-icon-expand: \e901;
$it-icon-collapse: \e902;
$it-icon-plus: \e903;
$it-icon-minus: \e904;
$it-icon-document: \e905;
$it-icon-edit: \e906;
$it-icon-download: \e907;
$it-icon-info: \e908;
$it-icon-compare: \e909;
$it-icon-github: \e90a;
$it-icon-share: \e90b;
$it-icon-search: \e90c;
$it-icon-link: \e90d;
$it-icon-external-link: \e90e;
$it-icon-comment: \e90f;
$it-icon-attention: \e910;
$it-icon-example: \e911;
$it-icon-procedure: \e912;
$it-icon-hint: \e913;
$it-icon-note: \e914;
$it-icon-step: \e915;
$it-icon-pdf: \e916;
$it-icon-html: \e917;
