/* Color */
$white: #fff;
$black: #000;
$lighteen-blue: #f6fbff;
$light-blue: #e6f3fe; //#bbd8f1; ?
$light-blue-01: #00c4c8;
$blue: #0073e6;
$medium-blue: #06c;
$medium-blue-01: #799ebc;
$medium-blue-02: #bbd8f1;
$mid-dark-blue: #004e95;
$dark-blue: #002b4d;
$darker-blue: #004080;
$sky-blue: #bffffd;
$grey-light: #f9fafb;
$grey-light-01: #eeeff0;
$grey-light-02: #eaebed;
$grey: #ccc;
$grey-mid: #596771;
$grey-mid-01: #8998a5;
$grey-dark: #0b0b0b;
$dark-blue-border: #193e5e;
$red: #d83750;
$red-alt: #d1344c;
$orange: #df7d26;
$teal: #4bd4d6;
$green: #008255;
$green-alt: #00cf86;
$light-green: #efc;

/* Font */
$stack-font: "Lora", serif;
$titillium-font: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$docs-font-icon: "docs-icons";

$chapter-nav-width: 200px;
$sidebar-width: 420px;

// Icon
$icon-font-path: "../font" !default;

$docs-icon-more: "\e900";
$docs-icon-expand: "\e901";
$docs-icon-collapse: "\e902";
$docs-icon-plus: "\e903";
$docs-icon-minus: "\e904";
$docs-icon-document: "\e905";
$docs-icon-edit: "\e906";
$docs-icon-download: "\e907";
$docs-icon-info: "\e908";
$docs-icon-compare: "\e909";
$docs-icon-github: "\e90a";
$docs-icon-share: "\e90b";
$docs-icon-search: "\e90c";
$docs-icon-link: "\e90d";
$docs-icon-external-link: "\e90e";
$docs-icon-comment: "\e90f";
$docs-icon-attention: "\e910";
$docs-icon-example: "\e911";
$docs-icon-procedure: "\e912";
$docs-icon-hint: "\e913";
$docs-icon-note: "\e914";
$docs-icon-step: "\e915";
$docs-icon-pdf: "\e916";
$docs-icon-html: "\e917";
$docs-icon-user: "\e918";
$docs-icon-docs: "\e919";
$docs-icon-project: "\e91a";
$docs-icon-publisher: "\e91b";
$docs-icon-check: "\e91c";
$docs-icon-not: "\e91d";
