/* Theme variables */
/* Color */
/* Font */
/* Base */
/* Background colors */
.bg-primary--dark {
  background-color: #06c;
}

.bg-primary--mid-dark {
  background-color: #004e95;
}

.bg-primary--darken {
  background-color: #002b4d;
}

/* Text colors */
.text-grey {
  color: #ccc;
}

.text-light-blue {
  color: #e6f3fe;
}

/* Border colors */
.border-dark-blue {
  border-color: #193e5e !important;
}

@font-face {
  font-family: 'docs-italia';
  src: url("../fonts/docs-italia.eot");
  src: url("../fonts/docs-italia.eot#iefix") format("embedded-opentype"), url("../fonts/docs-italia.ttf") format("truetype"), url("../fonts/docs-italia.woff") format("woff"), url("../fonts/docs-italia.svg#docs-italia") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="it-icon-"],
[class*=" it-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable */
  font-family: 'docs-italia' !important;
  /* stylelint-enable */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* stylelint-disable */
/* stylelint-enable */
.it-icon-more::before {
  content: "\e900";
}

.it-icon-expand::before {
  content: "\e901";
}

.it-icon-collapse::before {
  content: "\e902";
}

.it-icon-plus::before {
  content: "\e903";
}

.it-icon-minus::before {
  content: "\e904";
}

.it-icon-document::before {
  content: "\e905";
}

.it-icon-edit::before {
  content: "\e906";
}

.it-icon-download::before {
  content: "\e907";
}

.it-icon-info::before {
  content: "\e908";
}

.it-icon-compare::before {
  content: "\e909";
}

.it-icon-github::before {
  content: "\e90a";
}

.it-icon-share::before {
  content: "\e90b";
}

.it-icon-search::before {
  content: "\e90c";
}

.it-icon-link::before {
  content: "\e90d";
}

.it-icon-external-link::before {
  content: "\e90e";
}

.it-icon-comment::before {
  content: "\e90f";
}

.it-icon-attention::before {
  content: "\e910";
}

.it-icon-example::before {
  content: "\e911";
}

.it-icon-procedure::before {
  content: "\e912";
}

.it-icon-hint::before {
  content: "\e913";
}

.it-icon-note::before {
  content: "\e914";
}

.it-icon-step::before {
  content: "\e915";
}

.it-icon-pdf::before {
  content: "\e916";
}

.it-icon-html::before {
  content: "\e917";
}

/* Theme layout */
body {
  color: #596771;
}
body.no-scroll {
  overflow-y: hidden;
}

p {
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

.h1--header {
  font-size: 21.328px;
  font-size: 1.333rem;
  line-height: 1.2;
  letter-spacing: unset;
}
.h1--header span {
  font-size: 11.2px;
  font-size: 0.7rem;
  font-weight: 400;
}

.svg--header {
  width: 50px;
  height: 40px;
}

.h2--header {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: unset;
}

.docs-italia__document-title {
  font-size: 14.4px;
  font-size: 0.9rem;
  font-weight: 400;
}

.docs-italia #cerca {
  border: 1px #ccc solid;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 100;
}
.docs-italia #cerca::-webkit-input-placeholder {
  color: #ccc;
}
.docs-italia #cerca:-ms-input-placeholder {
  color: #ccc;
}
.docs-italia #cerca::-ms-input-placeholder {
  color: #ccc;
}
.docs-italia #cerca::placeholder {
  color: #ccc;
}

.docs-italia__header-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.info--header {
  /* background */
}

.col--nav {
  width: 100%;
}
@media (min-width: 992px) {
  .col--nav {
    width: 350px;
    float: left;
    padding-right: 3rem;
  }
}

/* Caption */
.caption-wrap {
  clear: both;
}
.caption-wrap .caption--table {
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  display: block;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 0;
}
@media (min-width: 992px) {
  .caption-wrap .caption--table {
    width: calc(100% - 200px);
    float: left;
  }
}
.caption-wrap .reference--wrap {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .caption-wrap .reference--wrap {
    width: 200px;
    float: right;
    padding-left: 2rem;
  }
}

.caption-number {
  font-weight: 800;
  color: #000;
}

/* Title H1/H2 */
.chapter-header {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-left: 8px;
  margin-left: 0.5rem;
}

.chapter-nav {
  position: relative;
}
@media (min-width: 992px) {
  .chapter-nav {
    width: 200px;
    float: left;
  }
}

/* Title nav */
.title__background {
  width: 100%;
  background-color: #e6f3fe;
  position: absolute;
  top: -1px;
  height: auto;
  left: -8px;
  left: -0.5rem;
  display: none;
  right: 0;
  z-index: -1;
}
.title__background::after {
  content: "";
  position: absolute;
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e6f3fe;
}

/* Term */
.std-term {
  background-color: #e6f3fe;
  color: #000;
  padding: 3.2px;
  padding: 0.2rem;
}

/* Footer btn */
.footer-buttons--next {
  clear: both;
  margin-top: 64px;
  margin-top: 4rem;
}
.footer-buttons--next a {
  background-color: #0073e6;
  color: #fff;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 800;
  text-transform: capitalize;
}

.footer-buttons--prev {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

/* Reference icon */
.reference.internal {
  vertical-align: middle;
}

.reference-icon {
  display: inline-block;
}

/* General width */
#doc-content {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  #doc-content {
    width: calc(100% - 350px);
    float: left;
  }
}
#doc-content ol {
  padding-left: 16px;
  padding-left: 1rem;
}
#doc-content ol li {
  position: relative;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding-left: 16px;
  padding-left: 1rem;
  counter-increment: list;
  list-style-type: none;
  font-family: "Lora", serif;
}
#doc-content ol li::after {
  position: absolute;
  left: -16px;
  left: -1rem;
  top: 0;
  width: 17.6px;
  width: 1.1rem;
  height: 24px;
  height: 1.5rem;
  z-index: 1;
  content: counter(list);
  color: #fff;
  text-align: center;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
#doc-content .useful-docs .mimetype {
  display: none;
}
#doc-content .useful-docs ul {
  list-style-type: none;
  padding-left: 0;
}
#doc-content .useful-docs li {
  border-top: 1px #ccc solid;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  vertical-align: middle;
}
#doc-content .useful-docs li::after {
  display: none;
}
#doc-content ul.simple {
  list-style-type: none;
}
#doc-content ul.simple li {
  position: relative;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
#doc-content ul.simple li::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #596771;
  position: absolute;
  left: -16px;
  left: -1rem;
  top: 6.4px;
  top: 0.4rem;
}
#doc-content .section {
  clear: both;
}
#doc-content .section::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 992px) {
  #doc-content .section > * {
    width: calc(100% - 200px);
    float: left;
    clear: left;
  }
}
@media (min-width: 992px) {
  #doc-content .section .section,
  #doc-content .section .chapter-header,
  #doc-content .section .caption-wrap,
  #doc-content .section .table-responsive {
    width: 100%;
    float: none;
  }
}
#doc-content .procedure.topic {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
#doc-content .procedure.topic em {
  font-weight: 800;
}
#doc-content .procedure__img {
  padding-left: 24px;
  padding-left: 1.5rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  margin-left: 8px;
  margin-left: 0.5rem;
  margin-top: 32px;
  margin-top: 2rem;
  border-left: 1px #799ebc solid;
}
#doc-content .procedure__img img {
  -webkit-box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.15);
}
#doc-content .procedure-internal-title {
  text-transform: uppercase;
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 800;
}
#doc-content .Icon--ol {
  color: #004e95;
  position: absolute;
  left: -24px;
  left: -1.5rem;
  font-size: 32px;
  font-size: 2rem;
}
@media (min-width: 992px) {
  #doc-content .title-wrap {
    width: calc(100% - 200px);
    float: left;
    clear: left;
    position: relative;
    /* line-height is defined in px instead rem for background element crossbrowser */
  }
  #doc-content .title-wrap h2 {
    line-height: 60px;
  }
  #doc-content .title-wrap h3 {
    line-height: 46px;
  }
  #doc-content .title-wrap h1,
  #doc-content .title-wrap h2,
  #doc-content .title-wrap h3 {
    display: inline;
    cursor: pointer;
    position: relative;
    color: #000;
    box-shadow: 0.5rem 0 0 #fff, -0.5rem 0 0 #fff;
    -webkit-box-shadow: 0.5rem 0 0 #fff, -0.5rem 0 0 #fff;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    left: -0.5rem;
  }
  #doc-content .title-wrap h1 .title__chapter,
  #doc-content .title-wrap h2 .title__chapter,
  #doc-content .title-wrap h3 .title__chapter {
    position: relative;
    color: #0073e6;
  }
  #doc-content .title-wrap h1 {
    line-height: 71px;
  }
  #doc-content .title-wrap h1 .title__chapter {
    position: relative;
    background-color: #0073e6;
    color: #fff;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    z-index: 1;
  }
  #doc-content .title-wrap h1 .title__chapter::after, #doc-content .title-wrap h1 .title__chapter::before {
    content: "";
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background-color: #0073e6;
    position: absolute;
  }
  #doc-content .title-wrap h1 .title__chapter::after {
    right: 100%;
  }
  #doc-content .title-wrap h1 .title__chapter::before {
    left: 100%;
  }
}
#doc-content .title-wrap.active h1,
#doc-content .title-wrap.active h2,
#doc-content .title-wrap.active h3 {
  -webkit-box-shadow: 0.5rem 0 0 #e6f3fe, -0.5rem 0 0 #e6f3fe;
          box-shadow: 0.5rem 0 0 #e6f3fe, -0.5rem 0 0 #e6f3fe;
  background-color: #e6f3fe;
}
#doc-content .title-wrap.active .title__background {
  display: block;
}
#doc-content .headerlink {
  display: none;
}
#doc-content .topic-title {
  color: #000;
  font-weight: 800;
  font-size: 22.4px;
  font-size: 1.4rem;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .docutils.field-list {
  width: 100%;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  border-bottom: 1px #ccc solid;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .docutils.field-list tr {
  display: block;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  #doc-content .docutils.field-list tr {
    width: 50%;
    float: left;
  }
}
#doc-content .docutils.field-list .field-name,
#doc-content .docutils.field-list .field-body {
  display: block;
  font-weight: 400;
}
#doc-content .docutils.field-list .field-body {
  color: #06c;
  text-decoration: underline;
}
#doc-content .highlights {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Lora", serif;
}
#doc-content blockquote.epigraph {
  margin-top: 32px;
  margin-top: 2rem;
  padding-left: 32px;
  padding-left: 2rem;
  border-left: 4px #00c4c8 solid;
  color: #596771;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
#doc-content blockquote.epigraph .attribution {
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
}
#doc-content .admonition {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
#doc-content .admonition .admonition-title {
  text-transform: uppercase;
  font-weight: 800;
}
#doc-content .admonition .admonition-title span {
  font-size: 24px;
  font-size: 1.5rem;
}
#doc-content .admonition.admonition-consultazione {
  padding-bottom: 16px;
  padding-bottom: 1rem;
  border-bottom: 1px #ccc solid;
  position: relative;
}
#doc-content .admonition.admonition-consultazione a {
  text-decoration: underline;
}
#doc-content .admonition.admonition-consultazione .last {
  font-family: "Lora", serif;
}
#doc-content .admonition.admonition-consultazione .admonition-title {
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .admonition.admonition-consultazione .admonition-title span {
  color: inherit;
}
#doc-content .admonition.important, #doc-content .admonition.error, #doc-content .admonition.hint, #doc-content .admonition.note, #doc-content .admonition.attention {
  margin-top: 32px;
  margin-top: 2rem;
  padding-left: 32px;
  padding-left: 2rem;
  border-left: 1px #ccc solid;
  color: #596771;
}
#doc-content .admonition.important .admonition-title, #doc-content .admonition.error .admonition-title, #doc-content .admonition.hint .admonition-title, #doc-content .admonition.note .admonition-title, #doc-content .admonition.attention .admonition-title {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .admonition.important .admonition-title span, #doc-content .admonition.error .admonition-title span, #doc-content .admonition.hint .admonition-title span, #doc-content .admonition.note .admonition-title span, #doc-content .admonition.attention .admonition-title span {
  color: inherit;
}
#doc-content .admonition.error .admonition-title {
  color: #d83750;
}
#doc-content .admonition.note .admonition-title {
  color: #004e95;
}
#doc-content .admonition.attention .admonition-title {
  color: #df7d26;
}
#doc-content .admonition.important .last {
  font-weight: 800;
  font-size: 19.2px;
  font-size: 1.2rem;
}
#doc-content .admonition.hint .reference.internal {
  font-size: 12.8px;
  font-size: 0.8rem;
  position: relative;
}
#doc-content .admonition.hint .reference.internal::after {
  content: '';
  width: 6.4px;
  width: 0.4rem;
  height: 6.4px;
  height: 0.4rem;
  border-top: 1px #0073e6 solid;
  border-right: 1px #0073e6 solid;
  left: 100%;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
}
#doc-content .question-and-answers blockquote {
  margin-top: 8px;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#doc-content .question-and-answers blockquote > div {
  font-weight: 800;
  font-family: "Lora", serif;
}
#doc-content .question-and-answers .pull-quote {
  max-width: 490px;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
#doc-content .question-and-answers .pull-quote ul {
  list-style-type: none;
  padding-left: 24px;
  padding-left: 1.5rem;
}
#doc-content .question-and-answers .pull-quote ul li {
  display: inline-block;
  margin-top: 16px;
  margin-top: 1rem;
}
#doc-content .question-and-answers .pull-quote ul li::after {
  display: none;
}
#doc-content .question-and-answers .pull-quote ul li a {
  padding: 3.2px 8px;
  padding: 0.2rem 0.5rem;
  margin-right: 3.2px;
  margin-right: 0.2rem;
  background-color: #e6f3fe;
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 2px dotted #ccc;
}
#doc-content .question-and-answers .pull-quote > div > p {
  text-transform: uppercase;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0b0b0b;
  margin-bottom: 0;
  font-weight: 100;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(odd) {
  float: left;
  clear: right;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(odd) blockquote > div,
#doc-content .question-and-answers .pull-quote:nth-of-type(odd) ul {
  padding-left: 24px;
  padding-left: 1.5rem;
  border-left: 5px #00c4c8 solid;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(even) {
  float: right;
  text-align: right;
  clear: left;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(even) blockquote > div,
#doc-content .question-and-answers .pull-quote:nth-of-type(even) ul {
  padding-right: 24px;
  padding-right: 1.5rem;
  border-right: 5px #00c4c8 solid;
}
#doc-content .glossary.docutils {
  display: none;
}

.footer-menu__link:hover {
  color: #fff;
}

.t_translate-wrap {
  display: none;
}

.doc-tooltip {
  background-color: #fff;
  font-family: "Lora", serif;
  -webkit-box-shadow: -1px 0 112px -14px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 0 112px -14px rgba(0, 0, 0, 0.15);
}
.doc-tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #fff;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: -1;
}
.doc-tooltip.doc-tooltip--note::after {
  content: none;
}

.tooltip__wrap {
  overflow: hidden;
  width: 330px;
  padding: 32px;
  padding: 2rem;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tooltip__title {
  overflow: hidden;
  font-style: italic;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 1em;
  letter-spacing: 0;
}

.tooltip__content {
  font-size: 14.4px;
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 0;
}

.tooltip__close-btn {
  position: absolute;
  top: 16px;
  top: 1rem;
  right: 16px;
  right: 1rem;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
}
.tooltip__close-btn::after, .tooltip__close-btn::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #0073e6;
  top: 0;
  left: 50%;
}
.tooltip__close-btn::after {
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}
.tooltip__close-btn::before {
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
}

.tooltip__link {
  color: #0073e6;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
}
.tooltip__link::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  width: 30px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gUPDDQNy1r5IQAAAH5JREFUGNNj+I8HTD704v+ZR1/gfCYGPODNlz8MLv3XGc4+/srAwMDAwHjx6df//jNuYVX84esfhg9f/jAI8LAw3G4yYGD8+vPv/ztvfmBVPP3wK4YZ+14wdIfJM5Q4SzIw/v///z8uZzRsf8rAw8bEUOIsCRHA58EXn36h8AF2435mx6vmAAAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  bottom: 0;
  background-position: center;
}

@media (max-width: 991px) {
  .chapter-nav__list--hidden {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .chapter-nav__list--hidden .chapter-nav__list {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 250px;
  }
  .chapter-nav__list--hidden.active {
    display: block;
  }
}
@media (min-width: 992px) {
  .chapter-nav__list--hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.35s, opacity 0.35s;
    transition: visibility 0.35s, opacity 0.35s;
  }
  .chapter-nav__list--hidden.active {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .chapter-nav__wrap {
    position: absolute;
    left: 2rem;
    top: 0;
  }
}

.chapter-link {
  background: none;
  border: none;
  color: #0073e6;
  padding: 0;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
  text-transform: capitalize;
  vertical-align: middle;
}
.chapter-link:hover {
  text-decoration: underline;
}

.chapter-link__title {
  text-transform: capitalize;
  float: left;
}

.chapter-link__counter {
  margin-right: 4.8px;
  margin-right: 0.3rem;
  display: inline-block;
  float: left;
}

.Icon {
  margin-right: 8px;
  margin-right: 0.5rem;
  vertical-align: middle;
  color: #0073e6;
}

.chapter-nav__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.chapter-nav__item:not(:last-child) {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .chapter-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.chapter-nav__list--visible {
  margin-top: 16px;
  margin-top: 1rem;
}
@media (min-width: 992px) {
  .chapter-nav__list--visible {
    margin-top: -0.5rem;
  }
}
.chapter-nav__list--visible .chapter-nav__item {
  display: inline-block;
}
@media (min-width: 992px) {
  .chapter-nav__list--visible .chapter-nav__item {
    display: block;
  }
}

.table-responsive::-webkit-scrollbar {
  width: 1em;
  height: 14px;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #e6f3fe;
  border-radius: 7px;
  border: 2px #fff solid;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #0073e6;
  border-radius: 7px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHCAYAAAABIM1CAAAALUlEQVQoU2N88+m/hggf4w0GLODJp//CLEwMUhI8jJexyT/7/l+OcdSAQRAGABbrTN6F2sNMAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
}

#doc-content table:not(.footnote) {
  border: 0;
}
#doc-content table:not(.footnote) td {
  border-right: 0;
  border-left: 0;
}
#doc-content table:not(.footnote):not(.highlighttable) td {
  min-width: 240px;
}
#doc-content table:not(.footnote) thead .head {
  border-right: 0;
  border-left: 0;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-size: 0.75rem;
  vertical-align: top;
}
#doc-content table:not(.footnote) tr {
  font-size: 12px;
  font-size: 0.75rem;
}
#doc-content table:not(.footnote) tr td:nth-of-type(1) {
  font-weight: 800;
  color: #002b4d;
}

#doc-content .footnote-reference {
  color: #193e5e;
  border: 1px #193e5e solid;
  border-radius: 3px;
  padding-right: 12.8px;
  padding-right: 0.8rem;
}
#doc-content .note-action {
  margin-top: 8px;
  margin-top: 0.5rem;
}
#doc-content .note-close-btn,
#doc-content .note-back-btn {
  background: none;
  border: 0;
  display: inline-block;
  color: #0073e6;
  font-size: 1.2em;
  cursor: pointer;
}
#doc-content .note-back-btn {
  position: relative;
}
#doc-content .note-back-btn::before {
  content: '';
  top: 0;
  bottom: 0;
  width: 1px;
  position: absolute;
  background-color: #0073e6;
  left: 0;
}
#doc-content .note-back-btn:hover {
  text-decoration: underline;
}
#doc-content .docutils.footnote {
  color: #000;
  font-size: 12.8px;
  font-size: 0.8rem;
  display: none;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
#doc-content .docutils.footnote td {
  width: 100%;
  float: left;
}
#doc-content .docutils.footnote .fn-backref {
  color: #193e5e;
  border: 1px #193e5e solid;
  border-radius: 3px;
  padding: 3.2px;
  padding: 0.2rem;
  line-height: 1;
  display: inline-block;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=theme.css.map */