<div class="bg-primary--darken">
    <footer class="container-fluid">

      <div class="row pt-5 pb-5 pl-4 pl-md-5 pr-4 pr-md-5">

        <div class="col-12 border-bottom border-dark-blue pb-2">
          <img class="" src="{{ site.owner_logo }}"
            alt="{{ site.owner_full }}" style="height: 80px; max-width: 100%">
          <p class="">
          </p>
        </div>

        <!-- <div class="">
          <p class="">{{ _(t.in_collaboration_with) }}</p>
          <div class="">
            <div class="">
              <img class="" src="{{ site.gov_logo | d('//placehold.it/75x80?text=placeholder') }}" alt=""
                style="height: 4em; max-width: 100%">
              <img class="" src="{{ site.partner_logo | d('//placehold.it/75x80?text=placeholder') }}" alt=""
                style="height: 4em; max-width: 100%">
            </div>
            <div class=""></div>
            <p class="">
              {{ site.partner_full | upper }}
            </p>
          </div>
        </div> -->

        <div class="col-12 pt-3">
          <ul class="footer-menu list-inline pl-0">
            {% for link in site.data.footer_links %}
              {% set link_name = link.title %}
              <li class="list-inline-item">
                <strong><a class="footer-menu__link text-light-blue" href="{{ link.url }}">{% if t[link_name] %}{{ _(t[link_name]) }}{% else %}{{ _(link_name) }}{% endif %}</a></strong>
              </li>
            {% endfor %}

            <div class="">
              <p></p>
            </div>
          </ul>
        </div>
      </div>

    </footer>
</div>
