{% raw %}
<script id="discourse__comment" type="text/template">
  <li id='{{ commentHTMLId }}' class='row mb-5 block-comments__item comment-{{ post.id }} {{ isNew }} {{ reported }}'
      data-topic='{{ tid }}' data-comment='{{ post.id }}'>
    <div id='reply-to-{{ post.post_number }}'></div>
    <figure class='col-auto mb-0'>
      <img class='block-comments__img rounded-circle' src='{{ avatarUrl }}'>
    </figure>
    <div class='col'>
      <div class='row align-items-center justify-content-between' id='comment-heading-1'>
        <div class='col-auto'>
          <span class='block-comments__name text-capitalize mb-0'> {{ post.username }} </span>
          <div id='reply-link-{{ post.id }}'></div>
        </div>
        <div class='col-auto'>
          <p class='d-inline-block mr-2 block-comments__date mb-0'> {{ date }} </p>
          <button class='block-comments__item-btn' data-toggle='collapse'
                  data-target='#collapse-{{ post.id }}'>
            <i class='it-collapse'></i>
            <i class='it-expand'></i>
          </button>
        </div>
      </div>
      <p class='text-uppercase block-comments__role'> {{ customField }} </p>
      <div id='collapse-{{ post.id }}' class='block-comments__paragraph pl-3 border-left collapse show'
           aria-labelledby='comment-heading-1'>
        {{ post.cooked }}
      </div>
    </div>
  </li>
</script>

<script id="discourse__reply-link" type="text/template">
  <div>
    <a class='reply-to-post' href='#reply-to-{{ post.reply_to_post_number }}'>
      In risposta a {{ replyDest.username }}
      <small>(#{{ post.reply_to_post_number }})</small>
    </a>
  </div>
</script>

<script id="discourse__login" type="text/template">
  <div class="box-comment__user-image box-comment__user-image--anon">
    <i class="docs-icon-user"></i>
  </div>
  <div class="box-comment__login">
    <div><a href="#" class="login-button disabled">Accedi al Forum</a> per commentare</div>
  </div>
</script>

<script id="discourse__missing_permission" type="text/template">
	<div class="pl-2 block-comments__input missing_permission error error--{{ errorCode }} row">
		<figure class="col-auto mb-0 mr-2">
			<img class="block-comments__img new-comment__figure rounded-circle" src="">
			<figcaption>
				<a href='#logout' class="block-comments__logout-link block-comments__logout-link--visible" data-toggle="modal" data-target="#logout-modal" title="Logout" alt="Logout">Logout</a>
			</figcaption>
		</figure>

		<div class="missing_permission__text col pt-2">{{ errorText }}</div>
	</div>
</script>

<script id="discourse__markup__tooltip" type="text/template">
  <div class='tooltip tooltip--active doc-tooltip box-comment__suggestions__tooltip' role='tooltip'>
    <div class='tooltip__wrap'>
      Markdown per la formattazione del testo:
      <ul class='tooltip__content'>
        <li> Grassetto: __text__ (o **text**)</li>
        <li> Corsivo: _text_</li>
        <li> Link: [Testo](http://url-to-link.ex)</li>
        <li> Citazione: &gt; Testo citazione</li>
      </ul>
    </div>
  </div>
</script>

<script id="discourse__silenced" type="text/template">
	<div class="error error__silenced">
		Il tuo account è stato temporaneamente sospeso, scopri di più leggendo
		<a href="{{ baseUrl }}/u/{{username}}/notifications" target="_blank">le tue notifiche su Forum Italia</a>
		<br>
	</div>
</script>
{% endraw %}
