{% raw %}
<script id="forum-italia-comments" type="text/template">
  <div class="block-comments" id="accordion-comments-{{ topicId }}" data-topic="{{ topicId }}">
    <!-- Top header -->
    <div class="block-comments__header d-flex border-top border-bottom border-width-2 pt-3 pb-3 align-items-center justify-content-between">
      <h6 class="col-auto text-uppercase mb-0">{{ commentsCount }} Commenti</h6>
      <button class="col-auto block-comments__toggle-btn rounded-circle border border-medium-blue border-width-2 collapsed" data-toggle="collapse" data-target="#comments-{{ topicId }}" aria-expanded="false">
        <span class="docs-icon-plus"></span>
        <span class="docs-icon-minus"></span>
      </button>
    </div>
  </div>
  <div class="block-comments__body collapse" data-parent="#accordion-comments-{{ topicId }}" id="comments-{{ topicId }}">
    <!-- Input row -->
    <div class="d-flex align-items-center mb-4 block-comments__input">
      <div class="box-comment {{ canPost }}" data-topic="{{ topicId }}"></div>
    </div>
    <div class="row">
      <div class="block-comments__container col">
        <div class="row mt-4">
          <ul class="block-comments__list col items mb-0" id="accordion-comment-item" data-topic="{{ topicId }}"></ul>
        </div>
      </div>
    </div>
    <div class="block-comments__header d-flex border-bottom border-width-2 pt-3 pb-3 mb-4 align-items-center justify-content-end">
      <button class="col-auto block-comments__toggle-btn rounded-circle border border-medium-blue border-width-2 collapsed" data-toggle="collapse" data-target="#comments-{{ topicId }}" aria-expanded="false">
        <span class="docs-icon-plus"></span>
        <span class="docs-icon-minus"></span>
      </button>
    </div>
  </div>
</script>

<script id="forum-italia__comment" type="text/template">
  <li id="comment-{{ post.id }}" class="row mb-4 block-comments__item {{ hidden }} {{ isNew }}"
      data-topic="{{ post.topic_id }}" data-comment="{{ post.id }}">
    <div id="reply-to-{{ post.id }}" class="block-comments__reply-anchor"></div>
    <figure class="col-auto mb-0">
      <img class="block-comments__img rounded-circle" src="{{ avatarUrl }}">
    </figure>
    <div class="col block-comments__content">
      <div class="row align-items-center justify-content-between" id="comment-heading-1">
        <div class="col-auto">
          <span class="block-comments__name text-capitalize mb-0">{{ displayName }}</span>
        </div>
        <div class="col-auto">
          <p class="d-inline-block mr-2 block-comments__date mb-0">{{ date }}</p>
          <button class="block-comments__item-btn" data-toggle="collapse"
                  data-target="#collapse-{{ post.id }}">
            <i class="it-collapse"></i>
            <i class="it-expand"></i>
          </button>
        </div>
      </div>
      <p class="text-uppercase block-comments__role">{{ publicUserField }}</p>
      <div class="my-3">{{ replyLink }}</div>
      <div id="collapse-{{ post.id }}" class="block-comments__paragraph pl-3 border-left collapse show"
           aria-labelledby="comment-heading-1">
        {{ post.cooked }}
      </div>
      <div class="block-comments__actions mb-2 mt-3">
        {{ postActions }}
      </div>
    </div>
  </li>
</script>

<script id="forum-italia__like-button" type="text/template">
  <small>
      <button id="{{ buttonAction }}-like-{{ post.id }}" type="button" class="btn btn-primary btn-sm mr-2 px-2 py-1">
        {{ likeCount }}
        <i class="it-favorite ml-1 mr-0"></i>
      </button>
      {{ likeDone }}
    </small>
</script>

<script id="forum-italia__like-info" type="text/template">
  <small>
      <span id="like-{{ post.id }}" class="border rounded btn-sm mr-2 px-2 py-1">
        {{ likeCount }}
        <i class="it-favorite ml-1 mr-0"></i>
      </span>
      {{ likeDone }}
    </small>
</script>

<script id="forum-italia__reply-link" type="text/template">
  <div>
    <small>In risposta al 
      <a class="reply-to-post" href="#reply-to-{{ replyDest.id }}">
        commento di {{ replyDest.name }}
      </a>
    </small>
  </div>
</script>

<script id="forum__login" type="text/template">
  <div class="box-comment__user-image box-comment__user-image--anon">
    <i class="docs-icon-user"></i>
  </div>
  <div class="box-comment__login">
    <div><button class="login-button btn-link p-0 border-0 align-baseline">Accedi al Forum</button> per commentare</div>
  </div>
</script>

<script id="forum__comment" type="text/template">
  <div class="form group">
    <div class="box-comment__errors-box"></div>
    <!-- Write -->
    <div class="d-flex align-items-center mt-4 mb-4 block-comments__input box-comment__write">
      <figure class="col-auto mb-0">
        <img class="block-comments__img box-comment__figure rounded-circle" src="">
          <figcaption>
            <a href="#logout" class="block-comments__logout-link block-comments__logout-link--visible" data-toggle="modal" data-target="#logout-modal" title="Logout" alt="Logout">Logout</a>
          </figcaption>
      </figure>
      <textarea class="form-control box-comment__body col ml-2 p-2" id="comments-input" placeholder="Scrivi qui un commento. Per formattare il testo puoi usare Markdown. Clicca sul bottone 'suggerimenti' per vedere alcuni esempi." rows="4"></textarea>
    </div>
    <!-- Buttons -->
    <div class="box-comment__buttons">
      <button type="button" class="btn btn-primary btn-sm box-comment__submit mr-2" disabled="true"><div>invia</div></button>
      <button type="button" class="btn btn-sm btn-secondary new-comment__suggestions" data-container="body" data-toggle="popover" data-content="html">suggerimenti</button><span class="loading no-bg">&nbsp;</span>
    </div>
    <div class="box-comment__required">
      <span>Scrivi almeno altri <span class="required-chars">20</span> caratteri</span>
    </div>
  </div>
</script>

<script id="forum-italia__missing_permission" type="text/template">
	<div class="pl-2 block-comments__input missing_permission error error--{{ errorCode }} row">
		<figure class="col-auto mb-0 mr-2">
			<img class="block-comments__img new-comment__figure rounded-circle" src="">
			<figcaption>
				<a href="#logout" class="block-comments__logout-link block-comments__logout-link--visible" data-toggle="modal" data-target="#logout-modal" title="Logout" alt="Logout">Logout</a>
			</figcaption>
		</figure>

		<div class="missing_permission__text col pt-2">{{ errorText }}</div>
	</div>
</script>

<script id="forum__logout--modal" type="text/template">
  <div class="modal logout-modal" id="logout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Logout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Dopo il logout non sarà possibile scrivere nuovi commenti. Sicuro di voler procedere?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="logout-modal__submit">Conferma</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="logout-modal__cancel">Annulla</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="forum-italia__markup__tooltip" type="text/template">
  <div class="tooltip tooltip--active doc-tooltip box-comment__suggestions__tooltip" role="tooltip">
    <div class="tooltip__wrap">
      Markdown per la formattazione del testo:
      <ul class="tooltip__content">
        <li><b>Grassetto:</b> __testo__ (o **testo**)</li>
        <li><i>Corsivo</i>: _testo_</li>
        <li>Link: [Testo](http://example.com)</li>
        <li>Citazione: &gt; Testo citazione</li>
      </ul>
    </div>
  </div>
</script>

<script id="forum-italia__silenced" type="text/template">
  <div class="error error__silenced">
    Il tuo account è stato temporaneamente sospeso, scopri di più leggendo
    <a href="{{ notificationsUrl }}" target="_blank">le tue notifiche</a> su Forum Italia.
    <br>
  </div>
</script>

<script id="forum-italia__closedTopic" type="text/template">
  <div class="error error__closed">
    Questa discussione è in sola lettura.
    <br>
  </div>
</script>

<script id="section_navigation__comments" type="text/template">
  <li class="chapter-nav__item">
      <span class="it-comment mr-2 align-middle"></span>
      <a href="#forum-italia-comments-{{ topicId }}" class="chapter-link chapter-link--expand">
          {{ postsCount }} commenti
      </a>
  </li>
</script>
{% endraw %}
