{% raw %}
<script id="markup_modifier__chapter-header" type="text/template"> <div class="chapter-header clearfix"><div class="title-wrap"> </script>

<script id="markup_modifier__icon" type="text/template">
	<span class="docs-icon-{{ i }}"></span>
</script>

<script id="markup_modifier__note-action" type="text/template">
	<div class='note-action'>
		<button type='button' class='note-close-btn'>×</button>
		<button type='button' class='note-back-btn'><i class='it-arrow-up'></i> {{ text }} </button>
	</div>
</script>

<script id="markup_modifier__admonition" type="text/template">
	<div class='admonition__toggle-wrap'>
		<button type='button' class='admonition__toggle-btn'>
			<span class='admonition__toggle-show-more'>
				{{ more }} <span class='docs-icon-plus'></span>
			</span>
			<span class='admonition__toggle-show-less'>
				{{ less }} <span class='docs-icon-minus'></span>
			</span>
		</button>
	</div>
</script>
{% endraw %}
