{% raw %}
<script id="section_navigation__nav" type="text/template">
    <div class="chapter-nav">
        <div class="chapter-nav__wrap">
            <ul class="chapter-nav__list chapter-nav__list--visible">
                <li class="chapter-nav__item">
                    <span class="it-more-items mr-2 align-middle"></span>
                    <button type="button" data-toggle="modal"
                        class="chapter-link chapter-link--expand">{{ seeActions }}</button>
                </li>
            </ul>
            <div class="{{ modalClass }} chapter-nav__list--hidden" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="{{ modalContainerClass }}">
                    <div class="{{ modalContentClass }} chapter-nav__list-wrap">
                        <div class="chapter-nav__title"> {{ title }} </div>
                        <ul class="chapter-nav__list">
                            <li class="chapter-nav__item">
                                <i class="it-link mr-2 align-middle"></i>
                                <button type="button" class="chapter-link">{{ copyLink }}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
{% endraw %}
