/* Background colors */
.bg-primary--dark {
  background-color: $medium-blue;
}

.bg-primary--mid-dark {
  background-color: $mid-dark-blue;
}

.bg-primary--darken {
  background-color: $dark-blue;
}

/* Text colors */
.text-grey {
  color: $grey;
}

.text-light-blue {
  color: $light-blue;
}

/* Border colors */
.border-dark-blue {
  border-color: $dark-blue-border !important;
}

.border-medium-blue {
  border-color: $medium-blue !important;
}

// Border width
.border-width-2 {
  border-width: 2px !important;
}
