// @font-face {
//   font-family: 'docs-italia';
//   src:  url('#{$icomoon-font-path}/docs-italia.eot?jmj3xd');
//   src:  url('#{$icomoon-font-path}/docs-italia.eot?jmj3xd#iefix') format('embedded-opentype'),
//     url('#{$icomoon-font-path}/docs-italia.ttf?jmj3xd') format('truetype'),
//     url('#{$icomoon-font-path}/docs-italia.woff?jmj3xd') format('woff'),
//     url('#{$icomoon-font-path}/docs-italia.svg?jmj3xd#docs-italia') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'docs-italia';
  src:  url('#{$icomoon-font-path}/docs-italia.eot');
  src:  url('#{$icomoon-font-path}/docs-italia.eot#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/docs-italia.ttf') format('truetype'),
    url('#{$icomoon-font-path}/docs-italia.woff') format('woff'),
    url('#{$icomoon-font-path}/docs-italia.svg#docs-italia') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="it-icon-"], [class*=" it-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'docs-italia' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.it-icon-more {
  &:before {
    content: unicode($it-icon-more);
  }
}
.it-icon-expand {
  &:before {
    content: unicode($it-icon-expand);
  }
}
.it-icon-collapse {
  &:before {
    content: unicode($it-icon-collapse);
  }
}
.it-icon-plus {
  &:before {
    content: unicode($it-icon-plus);
  }
}
.it-icon-minus {
  &:before {
    content: unicode($it-icon-minus);
  }
}
.it-icon-document {
  &:before {
    content: unicode($it-icon-document);
  }
}
.it-icon-edit {
  &:before {
    content: unicode($it-icon-edit);
  }
}
.it-icon-download {
  &:before {
    content: unicode($it-icon-download);
  }
}
.it-icon-info {
  &:before {
    content: unicode($it-icon-info);
  }
}
.it-icon-compare {
  &:before {
    content: unicode($it-icon-compare);
  }
}
.it-icon-github {
  &:before {
    content: unicode($it-icon-github);
  }
}
.it-icon-share {
  &:before {
    content: unicode($it-icon-share);
  }
}
.it-icon-search {
  &:before {
    content: unicode($it-icon-search);
  }
}
.it-icon-link {
  &:before {
    content: unicode($it-icon-link);
  }
}
.it-icon-external-link {
  &:before {
    content: unicode($it-icon-external-link);
  }
}
.it-icon-comment {
  &:before {
    content: unicode($it-icon-comment);
  }
}
.it-icon-attention {
  &:before {
    content: unicode($it-icon-attention);
  }
}
.it-icon-example {
  &:before {
    content: unicode($it-icon-example);
  }
}
.it-icon-procedure {
  &:before {
    content: unicode($it-icon-procedure);
  }
}
.it-icon-hint {
  &:before {
    content: unicode($it-icon-hint);
  }
}
.it-icon-note {
  &:before {
    content: unicode($it-icon-note);
  }
}
.it-icon-step {
  &:before {
    content: unicode($it-icon-step);
  }
}
.it-icon-pdf {
  &:before {
    content: unicode($it-icon-pdf);
  }
}
.it-icon-html {
  &:before {
    content: unicode($it-icon-html);
  }
}
