/*
Error: File to import not found or unreadable: theme_variables.
        on line 2 of sass/badge_only.sass

1: // Theme specific variables
2: @import theme_variables
3: 
4: .injected // added .injected on top to not interfere with .injected-customised
5:   .rst-versions
6:     position: fixed
7:     bottom: 0

Backtrace:
sass/badge_only.sass:2
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:45:in `import'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:391:in `run'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/home/alberto/.rbenv/versions/2.2.5/lib/ruby/gems/2.2.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/home/alberto/.rbenv/versions/2.2.5/bin/sass:23:in `load'
/home/alberto/.rbenv/versions/2.2.5/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: theme_variables.\A         on line 2 of sass/badge_only.sass\A \A 1: // Theme specific variables\A 2: @import theme_variables\A 3: \A 4: .injected // added .injected on top to not interfere with .injected-customised\A 5:   .rst-versions\A 6:     position: fixed\A 7:     bottom: 0"; }
