.bg-primary--dark {
  background-color: #06c;
}

.bg-primary--mid-dark {
  background-color: #004e95;
}

.bg-primary--darken {
  background-color: #002b4d;
}

.text-grey {
  color: #ccc;
}

.text-light-blue {
  color: #e6f3fe;
}

.border-dark-blue {
  border-color: #193e5e !important;
}

body {
  color: #596771;
}

p {
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  margin-bottom: 2rem;
}

.h1--header {
  font-size: 1.333rem;
  line-height: 1.2;
  letter-spacing: unset;
}
.h1--header span {
  font-size: 0.7rem;
  font-weight: 400;
}

.svg--header {
  width: 50px;
  height: 40px;
}

.h2--header {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: unset;
}

.doc-Italia__document-title {
  font-size: 0.9rem;
  font-weight: 400;
}

.doc-Italia #cerca {
  border: 1px #ccc solid;
  font-size: 0.8rem;
  font-weight: 100;
}
.doc-Italia #cerca::placeholder {
  color: #ccc;
}

.doc-Italia__header-col {
  flex: 0 0 auto;
}

.col--nav {
  flex: 0 0 370px;
}

#rst-content .section {
  clear: both;
}
#rst-content .section::after {
  content: "";
  display: table;
  clear: both;
}
#rst-content .section .title-wrap,
#rst-content .section > p,
#rst-content .section > blockquote,
#rst-content .section > div:not(.section):not(.chapter-header),
#rst-content .section > ul,
#rst-content .section > hr,
#rst-content .section > .docutils.footnote {
  width: 80%;
  float: left;
  clear: left;
}
#rst-content .section .chapter-nav {
  width: 20%;
  float: left;
}

.chapter-header {
  margin-bottom: 1rem;
}

#rst-content h1,
#rst-content h2,
#rst-content h3 {
  line-height: 1.4;
  display: inline;
  cursor: pointer;
  position: relative;
  display: inline;
  margin-left: 0.5rem;
  color: #000;
  box-shadow: 0.5rem 0 0 #fff, -0.5rem 0 0 #fff;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  left: -0.5rem;
}
#rst-content h1:hover, #rst-content h1:focus,
#rst-content h2:hover,
#rst-content h2:focus,
#rst-content h3:hover,
#rst-content h3:focus {
  box-shadow: 0.5rem 0 0 #e6f3fe, -0.5rem 0 0 #e6f3fe;
  background-color: #e6f3fe;
}
#rst-content h1 .title__chapter,
#rst-content h2 .title__chapter,
#rst-content h3 .title__chapter {
  position: relative;
  color: #0073e6;
}
#rst-content h1 .title__chapter {
  position: relative;
  background-color: #0073e6;
  color: #fff;
  margin-right: 0.5rem;
}
#rst-content h1 .title__chapter:after, #rst-content h1 .title__chapter:before {
  content: "";
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background-color: #0073e6;
  position: absolute;
}
#rst-content h1 .title__chapter::after {
  right: 100%;
}
#rst-content h1 .title__chapter::before {
  left: 100%;
}
#rst-content .headerlink {
  display: none;
}
#rst-content .topic-title {
  color: #000;
  font-weight: 800;
  font-size: 1.4rem;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#rst-content .docutils.field-list {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px #ccc solid;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#rst-content .docutils.field-list tr {
  display: block;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  #rst-content .docutils.field-list tr {
    width: 50%;
    float: left;
  }
}
#rst-content .docutils.field-list .field-name,
#rst-content .docutils.field-list .field-body {
  display: block;
  font-weight: 400;
}
#rst-content .docutils.field-list .field-body {
  color: #06c;
  text-decoration: underline;
}

#rst-content .highlights {
  font-size: 1.5rem;
  font-family: "Lora", serif;
}

#rst-content .admonition {
  margin-bottom: 2rem;
}
#rst-content .admonition .admonition-title {
  text-transform: uppercase;
  font-weight: 800;
}
#rst-content .admonition.admonition-consultazione {
  padding-bottom: 1rem;
  border-bottom: 1px #ccc solid;
}
#rst-content .admonition.admonition-consultazione a {
  text-decoration: underline;
}
#rst-content .admonition.admonition-consultazione .last {
  font-family: "Lora", serif;
}
#rst-content .admonition.admonition-consultazione .admonition-title {
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#rst-content .admonition.important, #rst-content .admonition.error, #rst-content .admonition.hint, #rst-content .admonition.note {
  margin-top: 2rem;
  padding-left: 2rem;
  border-left: 1px #ccc solid;
  color: #596771;
}
#rst-content .admonition.important .admonition-title, #rst-content .admonition.error .admonition-title, #rst-content .admonition.hint .admonition-title, #rst-content .admonition.note .admonition-title {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#rst-content .admonition.error .admonition-title {
  color: #d83750;
}
#rst-content .admonition.note .admonition-title {
  color: #004e95;
}
#rst-content .admonition.important .last {
  font-weight: 800;
  font-size: 1.2rem;
}
#rst-content .admonition.hint .reference.internal {
  font-size: 0.8rem;
  position: relative;
}
#rst-content .admonition.hint .reference.internal::after {
  content: "";
}

#rst-content .question-and-answers blockquote {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#rst-content .question-and-answers blockquote > div {
  font-weight: 800;
  font-family: "Lora", serif;
}
#rst-content .question-and-answers .pull-quote {
  max-width: 490px;
  margin-bottom: 2rem;
}
#rst-content .question-and-answers .pull-quote ul {
  list-style-type: none;
  padding-left: 1.5rem;
}
#rst-content .question-and-answers .pull-quote ul li {
  display: inline-block;
  margin-top: 1rem;
}
#rst-content .question-and-answers .pull-quote ul li a {
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  background-color: #e6f3fe;
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 2px dotted #ccc;
}
#rst-content .question-and-answers .pull-quote > div > p {
  text-transform: uppercase;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0b0b0b;
  margin-bottom: 0;
  font-weight: 100;
}
#rst-content .question-and-answers .pull-quote:nth-of-type(odd) {
  float: left;
  clear: right;
}
#rst-content .question-and-answers .pull-quote:nth-of-type(odd) blockquote > div,
#rst-content .question-and-answers .pull-quote:nth-of-type(odd) ul {
  padding-left: 1.5rem;
  border-left: 5px #00c4c8 solid;
}
#rst-content .question-and-answers .pull-quote:nth-of-type(even) {
  float: right;
  text-align: right;
  clear: left;
}
#rst-content .question-and-answers .pull-quote:nth-of-type(even) blockquote > div,
#rst-content .question-and-answers .pull-quote:nth-of-type(even) ul {
  padding-right: 1.5rem;
  border-right: 5px #00c4c8 solid;
}

#rst-content .glossary.docutils {
  display: none;
}

#rst-content .useful-docs ul {
  list-style-type: none;
  padding-left: 0;
}
#rst-content .useful-docs li {
  border-top: 1px #ccc solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.std-term {
  background-color: #e6f3fe;
  color: #000;
  padding: 0.2rem;
}

.footnote-reference {
  color: #193e5e;
  border: 1px #193e5e solid;
}

.rst-footer-buttons {
  clear: both;
  margin-top: 4rem;
}
.rst-footer-buttons a {
  background-color: #0073e6;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 800;
  text-transform: capitalize;
}

.footer-menu__link:hover {
  color: #fff;
}

.doc-tooltip {
  background-color: #fff;
  font-family: "Lora", serif;
  box-shadow: -1px 0px 112px -14px rgba(0, 0, 0, 0.15);
}
.doc-tooltip:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #fff;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: -1;
}

.tooltip__wrap {
  overflow: hidden;
  width: 330px;
  padding: 2rem;
}

.tooltip__title {
  overflow: hidden;
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

.tooltip__content {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0;
}

.tooltip__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
}
.tooltip__close-btn::after, .tooltip__close-btn::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #0073e6;
  top: 0;
  left: 50%;
}
.tooltip__close-btn::after {
  transform: rotate(45deg) translateX(-50%);
}
.tooltip__close-btn::before {
  transform: rotate(-45deg) translateX(-50%);
}

#rst-content .tooltip__link {
  color: #0073e6;
}

.chapter-nav {
  position: relative;
}

.chapter-nav__list--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.35s, opacity 0.35s;
}
.chapter-nav__list--hidden.active {
  visibility: visible;
  opacity: 1;
}

.chapter-nav__wrap {
  position: absolute;
  left: 1rem;
  top: 0;
}

.chapter-link {
  background: none;
  border: none;
  color: #0073e6;
  text-transform: capitalize;
  padding: 0;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
}
.chapter-link:hover {
  text-decoration: underline;
}

.Icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  color: #0073e6;
}

.chapter-nav__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*# sourceMappingURL=theme.css.map */
