/* Theme variables */
/* Color */
/* Font */
/* Base */
/* Background colors */
.bg-primary--dark {
  background-color: #06c;
}

.bg-primary--mid-dark {
  background-color: #004e95;
}

.bg-primary--darken {
  background-color: #002b4d;
}

/* Text colors */
.text-grey {
  color: #ccc;
}

.text-light-blue {
  color: #e6f3fe;
}

/* Border colors */
.border-dark-blue {
  border-color: #193e5e !important;
}

/* Theme layout */
body {
  color: #596771;
}
body.no-scroll {
  overflow-y: hidden;
}

p {
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

.h1--header {
  font-size: 1.333rem;
  line-height: 1.2;
  letter-spacing: unset;
}
.h1--header span {
  font-size: 0.7rem;
  font-weight: 400;
}

.svg--header {
  width: 50px;
  height: 40px;
}

.h2--header {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: unset;
}

.doc-Italia__document-title {
  font-size: 0.9rem;
  font-weight: 400;
}

.doc-Italia #cerca {
  border: 1px #ccc solid;
  font-size: 0.8rem;
  font-weight: 100;
}
.doc-Italia #cerca::placeholder {
  color: #ccc;
}

.doc-Italia__header-col {
  flex: 0 0 auto;
}

.info--header {
  /* background */
}

.col--nav {
  width: 100%;
}
@media (min-width: 992px) {
  .col--nav {
    width: 350px;
    float: left;
    padding-right: 3rem;
  }
}

/* General width */
#doc-content {
  width: 100%;
}
@media (min-width: 992px) {
  #doc-content {
    width: calc(100% - 350px);
    float: left;
  }
}
#doc-content .section {
  clear: both;
}
#doc-content .section::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 992px) {
  #doc-content .section > * {
    width: calc(100% - 200px);
    float: left;
    clear: left;
  }
}
@media (min-width: 992px) {
  #doc-content .section .section,
  #doc-content .section .chapter-header,
  #doc-content .section .caption-wrap,
  #doc-content .section .table-responsive {
    width: 100%;
    float: none;
  }
}
#doc-content .procedure.topic {
  margin-bottom: 3rem;
}
#doc-content .procedure.topic em {
  font-weight: 800;
}
#doc-content .procedure__img {
  padding-left: 1.5rem;
  margin-bottom: 2rem;
  margin-left: .5rem;
  margin-top: 2rem;
  border-left: 1px #799ebc solid;
}
#doc-content .procedure__img img {
  box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.15);
}
#doc-content .procedure-internal-title {
  text-transform: uppercase;
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
}
#doc-content ol {
  padding-left: 1rem;
}
#doc-content ol li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1rem;
  counter-increment: list;
  list-style-type: none;
  font-family: "Lora", serif;
}
#doc-content ol li::before {
  display: inline-block;
  width: 0;
  top: 1.5rem;
  height: 0;
  left: -1rem;
  position: absolute;
  border-left: 0.55rem solid transparent;
  border-right: 0.55rem solid transparent;
  border-top: 0.45rem solid #004e95;
  content: '';
}
#doc-content ol li::after {
  position: absolute;
  left: -1rem;
  top: 0;
  width: 1.1rem;
  background-color: #004e95;
  height: 1.5rem;
  z-index: -1;
  content: counter(list);
  color: #fff;
  text-align: center;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
#doc-content .useful-docs ul {
  list-style-type: none;
  padding-left: 0;
}
#doc-content .useful-docs li {
  border-top: 1px #ccc solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  #doc-content .title-wrap {
    width: calc(100% - 200px);
    float: left;
    clear: left;
    position: relative;
    /* line-height is defined in px instead rem for background element crossbrowser */
  }
  #doc-content .title-wrap h1 {
    line-height: 70px;
  }
  #doc-content .title-wrap h2 {
    line-height: 60px;
  }
  #doc-content .title-wrap h3 {
    line-height: 45px;
  }
  #doc-content .title-wrap h1,
  #doc-content .title-wrap h2,
  #doc-content .title-wrap h3 {
    display: inline;
    cursor: pointer;
    position: relative;
    color: #000;
    box-shadow: 0.5rem 0 0 #fff, -0.5rem 0 0 #fff;
    -webkit-box-shadow: 0.5rem 0 0 #fff, -0.5rem 0 0 #fff;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    left: -0.5rem;
  }
  #doc-content .title-wrap h1 .title__chapter,
  #doc-content .title-wrap h2 .title__chapter,
  #doc-content .title-wrap h3 .title__chapter {
    position: relative;
    color: #0073e6;
  }
  #doc-content .title-wrap h1 .title__chapter {
    position: relative;
    background-color: #0073e6;
    color: #fff;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    z-index: 1;
  }
  #doc-content .title-wrap h1 .title__chapter::after, #doc-content .title-wrap h1 .title__chapter::before {
    content: "";
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background-color: #0073e6;
    position: absolute;
  }
  #doc-content .title-wrap h1 .title__chapter::after {
    right: 100%;
  }
  #doc-content .title-wrap h1 .title__chapter::before {
    left: 100%;
  }
}
#doc-content .title-wrap.active h1,
#doc-content .title-wrap.active h2,
#doc-content .title-wrap.active h3 {
  box-shadow: 0.5rem 0 0 #e6f3fe, -0.5rem 0 0 #e6f3fe;
  background-color: #e6f3fe;
}
#doc-content .title-wrap.active .title__background {
  display: block;
}
#doc-content .headerlink {
  display: none;
}
#doc-content .topic-title {
  color: #000;
  font-weight: 800;
  font-size: 1.4rem;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .docutils.field-list {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px #ccc solid;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .docutils.field-list tr {
  display: block;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  #doc-content .docutils.field-list tr {
    width: 50%;
    float: left;
  }
}
#doc-content .docutils.field-list .field-name,
#doc-content .docutils.field-list .field-body {
  display: block;
  font-weight: 400;
}
#doc-content .docutils.field-list .field-body {
  color: #06c;
  text-decoration: underline;
}
#doc-content .highlights {
  font-size: 1.5rem;
  font-family: "Lora", serif;
}
#doc-content .admonition {
  margin-bottom: 2rem;
}
#doc-content .admonition .admonition-title {
  text-transform: uppercase;
  font-weight: 800;
}
#doc-content .admonition.admonition-consultazione {
  padding-bottom: 1rem;
  border-bottom: 1px #ccc solid;
}
#doc-content .admonition.admonition-consultazione a {
  text-decoration: underline;
}
#doc-content .admonition.admonition-consultazione .last {
  font-family: "Lora", serif;
}
#doc-content .admonition.admonition-consultazione .admonition-title {
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .admonition.important, #doc-content .admonition.error, #doc-content .admonition.hint, #doc-content .admonition.note {
  margin-top: 2rem;
  padding-left: 2rem;
  border-left: 1px #ccc solid;
  color: #596771;
}
#doc-content .admonition.important .admonition-title, #doc-content .admonition.error .admonition-title, #doc-content .admonition.hint .admonition-title, #doc-content .admonition.note .admonition-title {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#doc-content .admonition.error .admonition-title {
  color: #d83750;
}
#doc-content .admonition.note .admonition-title {
  color: #004e95;
}
#doc-content .admonition.important .last {
  font-weight: 800;
  font-size: 1.2rem;
}
#doc-content .admonition.hint .reference.internal {
  font-size: 0.8rem;
  position: relative;
}
#doc-content .admonition.hint .reference.internal::after {
  content: "";
}
#doc-content .question-and-answers blockquote {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#doc-content .question-and-answers blockquote > div {
  font-weight: 800;
  font-family: "Lora", serif;
}
#doc-content .question-and-answers .pull-quote {
  max-width: 490px;
  margin-bottom: 2rem;
}
#doc-content .question-and-answers .pull-quote ul {
  list-style-type: none;
  padding-left: 1.5rem;
}
#doc-content .question-and-answers .pull-quote ul li {
  display: inline-block;
  margin-top: 1rem;
}
#doc-content .question-and-answers .pull-quote ul li a {
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  background-color: #e6f3fe;
  color: #000;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 2px dotted #ccc;
}
#doc-content .question-and-answers .pull-quote > div > p {
  text-transform: uppercase;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0b0b0b;
  margin-bottom: 0;
  font-weight: 100;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(odd) {
  float: left;
  clear: right;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(odd) blockquote > div,
#doc-content .question-and-answers .pull-quote:nth-of-type(odd) ul {
  padding-left: 1.5rem;
  border-left: 5px #00c4c8 solid;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(even) {
  float: right;
  text-align: right;
  clear: left;
}
#doc-content .question-and-answers .pull-quote:nth-of-type(even) blockquote > div,
#doc-content .question-and-answers .pull-quote:nth-of-type(even) ul {
  padding-right: 1.5rem;
  border-right: 5px #00c4c8 solid;
}
#doc-content .glossary.docutils {
  display: none;
}

/* Caption */
.caption-wrap {
  clear: both;
}
.caption-wrap .caption--table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.75rem;
  padding: 0;
}
@media (min-width: 992px) {
  .caption-wrap .caption--table {
    width: calc(100% - 200px);
    float: left;
  }
}
.caption-wrap .reference--wrap {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .caption-wrap .reference--wrap {
    width: 200px;
    float: right;
    padding-left: 2rem;
  }
}

.caption-number {
  font-weight: 800;
  color: #000;
}

/* Title H1/H2 */
.chapter-header {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.chapter-nav {
  position: relative;
}
@media (min-width: 992px) {
  .chapter-nav {
    width: 200px;
    float: left;
  }
}

/* Title nav */
.title__background {
  width: 100%;
  background-color: #e6f3fe;
  position: absolute;
  top: -1px;
  height: auto;
  left: -0.5rem;
  display: none;
  right: 0;
  z-index: -1;
}
.title__background::after {
  content: "";
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e6f3fe;
}

/* Term */
.std-term {
  background-color: #e6f3fe;
  color: #000;
  padding: 0.2rem;
}

/* Note */
.footnote-reference {
  color: #193e5e;
  border: 1px #193e5e solid;
}

/* Footer btn */
.footer-buttons--next {
  clear: both;
  margin-top: 4rem;
}
.footer-buttons--next a {
  background-color: #0073e6;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 800;
  text-transform: capitalize;
}

.footer-buttons--prev {
  margin-bottom: 2.5rem;
}

/* Reference icon */
.reference.internal {
  vertical-align: middle;
}

.reference-icon {
  display: inline-block;
}

.footer-menu__link:hover {
  color: #fff;
}

.doc-tooltip {
  background-color: #fff;
  font-family: "Lora", serif;
  box-shadow: -1px 0 112px -14px rgba(0, 0, 0, 0.15);
}
.doc-tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #fff;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: -1;
}

.tooltip__wrap {
  overflow: hidden;
  width: 330px;
  padding: 2rem;
}

.tooltip__title {
  overflow: hidden;
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

.tooltip__content {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0;
}

.tooltip__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
}
.tooltip__close-btn::after, .tooltip__close-btn::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #0073e6;
  top: 0;
  left: 50%;
}
.tooltip__close-btn::after {
  transform: rotate(45deg) translateX(-50%);
}
.tooltip__close-btn::before {
  transform: rotate(-45deg) translateX(-50%);
}

#rst-content .tooltip__link {
  color: #0073e6;
}

@media (max-width: 991px) {
  .chapter-nav__list--hidden {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .chapter-nav__list--hidden .chapter-nav__list {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 250px;
  }
  .chapter-nav__list--hidden.active {
    display: block;
  }
}
@media (min-width: 992px) {
  .chapter-nav__list--hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.35s, opacity 0.35s;
  }
  .chapter-nav__list--hidden.active {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .chapter-nav__wrap {
    position: absolute;
    left: 2rem;
    top: 0;
  }
}

.chapter-link {
  background: none;
  border: none;
  color: #0073e6;
  text-transform: capitalize;
  padding: 0;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
}
.chapter-link:hover {
  text-decoration: underline;
}

.Icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  color: #0073e6;
}

.chapter-nav__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.chapter-nav__item:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .chapter-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.chapter-nav__list--visible {
  margin-top: 1rem;
}
@media (min-width: 992px) {
  .chapter-nav__list--visible {
    margin-top: -0.5rem;
  }
}
.chapter-nav__list--visible .chapter-nav__item {
  display: inline-block;
}
@media (min-width: 992px) {
  .chapter-nav__list--visible .chapter-nav__item {
    display: block;
  }
}

.table-responsive::-webkit-scrollbar {
  width: 1em;
  height: 14px;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #e6f3fe;
  border-radius: 7px;
  border: 2px #fff solid;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #0073e6;
  border-radius: 7px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHCAYAAAABIM1CAAAALUlEQVQoU2N88+m/hggf4w0GLODJp//CLEwMUhI8jJexyT/7/l+OcdSAQRAGABbrTN6F2sNMAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
}

#doc-content table:not(.footnote) {
  border: 0;
}
#doc-content table:not(.footnote) thead .head {
  border-right: 0;
  border-left: 0;
  text-transform: uppercase;
  color: #000;
  font-size: 0.75rem;
  vertical-align: top;
}
#doc-content table:not(.footnote) td {
  border-right: 0;
  border-left: 0;
}
#doc-content table:not(.footnote) tr {
  font-size: 0.75rem;
}
#doc-content table:not(.footnote) tr td:nth-of-type(1) {
  font-weight: 800;
  color: #002b4d;
}
#doc-content table:not(.highlighttable):not(.footnote) td {
  min-width: 240px;
}

/*# sourceMappingURL=theme.css.map */
