{% include 'layouts/head.html' %}

<div class="">
  <div id="main">
      {% include 'layouts/header.html' %}
      <!-- {% include 'layouts/network.html' %} -->

      <div class="container-fluid container-fluid--desktop main-container">
        <div class="doc-content__consultation">
          <span class="Icon it-icon-edit"></span>in consultazione
        </div>
        <div class="row">

          <nav class="col--nav">
            <div class="navbar-toggler--wrap p-3">
              <button class="navbar-toggler p-0 border-0 ml-auto" type="button" data-toggle="offcanvas">
                <span class="it-icon-note"></span>
              </button>
            </div>
            <div class="navbar-collapse offcanvas-collapse" id="sidebar-nav">
              {% include 'layouts/offcanvas.html' %}
            </div>
          </nav>

          <div id="doc-content" class="col-content">
            {% include 'layouts/breadcrumbs.html' %}
            {% if prev %}
              <div class="footer-buttons footer-buttons--prev" role="navigation" aria-label="footer navigation">
                  <a href="{{ prev.link|e }}" class="" title="{{ prev.title|striptags|e }}" accesskey="p" rel="prev"> {{ prev.title }}</a>
              </div>
            {% endif %}
            {% block body %}{% endblock %}
            {% if next %}
              <div class="footer-buttons footer-buttons--next" role="navigation" aria-label="footer navigation">
                  <a href="{{ next.link|e }}" class="" title="{{ next.title|striptags|e }}" accesskey="n" rel="next">{{ next.title }}</a>
              </div>
            {% endif %}
          </div>

        </div>
      </div>
  </div>
</div>

{% include 'layouts/scrolltop.html' %}
{% include 'layouts/footer.html' %}
{% include 'layouts/scripts.html' %}
{% include 'layouts/google-analytics.html' %}
{% include 'layouts/piwik.html' %}

{%- block footer %}{% endblock %}
</body>
</html>
