<!DOCTYPE html>
<html lang="{{ language }}" class="no-js" prefix="og: http://ogp.me/ns#">

{% include 'layouts/head.html' %}

<body class="{{ site.css_theme }}">
  {% include 'layouts/header.html' %}
  <div id="main" role="document">
    <div class="container-fluid container-fluid--desktop main-container">
      <div class="row">
        <nav class="col--nav">
          {% include 'layouts/sidebar.html' %}
          {% include 'layouts/offcanvas.html' %}
        </nav>
        <div id="doc-content" class="col-content">
          <div class="doc-content__consultation">
            <span class="Icon it-icon-edit"></span>
            {{ _(t.in_consultation) }}
          </div>
          {% if prev %}
            <div class="footer-buttons footer-buttons--prev" role="navigation" aria-label="footer navigation">
                <a href="{{ prev.link|e }}" class="" title="{{ prev.title|striptags|e }}" accesskey="p" rel="prev"> {{ _(t.go_to) }} {{ prev.title }}</a>
            </div>
          {% endif %}
          {% block body %}{% endblock %}
          {% if next %}
            <div class="footer-buttons footer-buttons--next" role="navigation" aria-label="footer navigation">
                  <a href="{{ next.link|e }}" class="" title="{{ next.title|striptags|e }}" accesskey="n" rel="next">{{ next.title }}</a>
              </div>
            {% endif %}
          </div>

        </div>
      </div>
  </div>
  {% include 'layouts/footer.html' %}

  {% include 'layouts/scrolltop.html' %}
  {% include 'layouts/scripts.html' %}
  {% include 'layouts/web-analytics.html' %}

</body>
</html>
