<!-- <h2 class="u-padding-all-s">
  <a href="{{ pathto(master_doc) }}" class="u-color-white">{{ project }}</a>
</h2> -->
<div class="dropdown" id="version-list">
  {%- set nav_version = version %}
  {% if READTHEDOCS and current_version %}
    {%- if current_version == 'stable' and last_stable_version %}
      {%- set current_version = last_stable_version %}
    {%- endif %}
    {%- set nav_version = current_version %}
  {% endif %}
  {% if nav_version %}
    <button class="btn btn-primary dropdown-toggle badge badge-pill bg-primary" type="button" id="dropdownVersionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ t.version }} {{ nav_version }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownVersionButton">
      {% for slug, url in versions %}
        {% if slug != nav_version %}
          <a class="dropdown-item" href="#" di-value="{{ url }}">
            {{ slug }}
          </a>
        {% endif %}
      {% endfor %}
       <!-- <a class="dropdown-item" href="#">Action</a>
       <a class="dropdown-item" href="#">Another action</a>
       <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
  {% endif %}
</div>
