<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>

  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link rel="stylesheet" href="{{ pathto('_static/css/vendor/bootstrap-italia.min.css', 1) }}" type="text/css">
  <link rel="stylesheet" href="{{ pathto('_static/css/theme.css', 1) }}" type="text/css">
  <!-- end styles -->

  <!-- relations -->
  <link rel="index" title="{{ t.index }}" href="{{ pathto(master_doc) }}">
  <link rel="top" title="{{ docstitle|e }}" href="{{ pathto(master_doc) }}">
  {%- if parents %}
  <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}">
  {%- endif %}
  {%- if next %}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}">
  {%- endif %}
  {%- if prev %}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}">
  {%- endif %}
  <!-- end relations -->

  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ pathto('_static/icons/apple-touch-icon.png', 1) }}">
  <link rel="icon" type="image/png" href="{{ pathto('_static/icons/favicon-32x32.png', 1) }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ pathto('_static/icons/favicon-16x16.png', 1) }}" sizes="16x16">
  <link rel="manifest" href="{{ pathto('_static/icons/manifest.json', 1) }}">
  <link rel="mask-icon" href="{{ pathto('_static/icons/safari-pinned-tab.svg', 1) }}">
  <link rel="shortcut icon" href="{{ pathto('_static/icons/favicon.ico', 1) }}">
  <meta name="apple-mobile-web-app-title" content="{{ title|striptags|e }}{{ titlesuffix }}">
  <meta name="application-name" content="{{ title|striptags|e }}{{ titlesuffix }}">
  <meta name="msapplication-config" content="{{ pathto('_static/icons/browserconfig.xml', 1) }}">
  <!-- end icons -->
</head>
