<header>

    <!-- <a class="js-fr-offcanvas-open u-block" href="#network" aria-controls="network"
      aria-label="{{ t.toggle_network_menu_label }}" title="{{ t.toggle_network_menu_label }}">
        {% include 'layouts/slim_icon.html' %}
    </a>

    <a href="{{ site.owner_link }}" class="">
      <span class="">
        {{ site.owner_short }}
      </span>
      <span class="">
        {{ site.owner_full }}
      </span>
    </a>

    <span class="">&nbsp;+&nbsp;</span>
    <a href="{{ site.partner_link }}" class="">
      <span class="u">
        {{ site.partner_short }}
      </span>
      <span class="">
        {{ site.partner_full }}
      </span>
    </a>

    {% include 'layouts/slim_header.html' %} -->


  <div class="container-fluid">
    <div class="row pt-4 pb-4 pl-4 pl-md-5 pr-4 pr-md-5 bg-primary--dark align-items-end">
      <div class="logo--header pb-1">
        <a href="https://docs.developers.italia.it" tabindex="-1" aria-hidden="true" class="">
          <svg class="svg--header align-bottom" xmlns="http://www.w3.org/2000/svg" height="78.187" width="97.387" viewBox="0 0 91.300002 73.300002"><g fill="#fff"><path d="M31.799 71.9V15.7h15.1V72h-15.1zM91.099 28.5h-13.8v23.1c0 2.3.1 3.8.2 4.8.1.9.5 1.7 1.2 2.4s1.8 1 3.3 1l8.6-.2.7 12c-5 1.1-8.9 1.7-11.5 1.7-6.8 0-11.4-1.5-13.8-4.6-2.5-3-3.7-8.6-3.7-16.8V0h15.1v15.6h13.8v12.9zM9.099 32.8c-2.6 0-4.8-.9-6.5-2.7s-2.6-4-2.6-6.6.9-4.8 2.5-6.6c1.7-1.8 3.9-2.6 6.5-2.6s4.8.9 6.5 2.7 2.5 4 2.5 6.7-.8 4.8-2.5 6.6c-1.6 1.6-3.7 2.5-6.4 2.5z"/></g></svg>
        </a>
      </div>

      <div class="col pl-4">
        <h1 class="h1--header mb-1">
          <a href="https://docs.developers.italia.it" class="text-white">
            {{ _(t.site_title | default(site.title) | escape) }}
            {% if site.pill %}
              <span class="badge badge-pill bg-primary--mid-dark align-middle">{{ _(site.pill) }}</span>
            {% endif %}
          </a>
        </h1>
        <h2 class="text-white mb-0 h2--header">{{ _(t.site_subtitle | default(site.subtitle) | escape) }}</h2>
      </div>
    </div>

    <div class="row pt-4 pb-4 pl-4 pl-md-5 pr-4 pr-md-5 info--header">

      <div class="col">
        <!-- TITOLO -->
        icona
        <h1 class="docs-italia__document-title">Titolo del documento</h1>
      </div>

      <div class="col">
        <div class="row">
          <!-- SEARCH -->
          {% include 'layouts/searchbox.html' %}
          <!-- VERSIONS -->
          <div id="rst-menu">
              {% include 'layouts/docmenu.html' %}
          </div>
        </div>
      </div>

      <div class="docs-italia__header-col docs-italia__header-col--info p-2">
        <!-- INFO -->
        <span class="it-icon-info"></span>
      </div>
      <div class="docs-italia__header-col docs-italia__header-col--eye p-2">
        <!-- EYE -->
        <span class="it-icon-compare"></span>
      </div>
      <div class="docs-italia__header-col docs-italia__header-col--downloads p-2">
        <!-- DOWNLOAD -->
        <span class="it-icon-download"></span>
        {# when theme_custom_versions_badge is True the custom versions bar is shown in place of the standard RTD panel #}
        {% if theme_custom_versions_badge == 'True' %}
          <style>
            /* Hides RTD injected html to display versions */
            .injected {
              display: none !important
            }
          </style>
          <div class="" style="bottom: 0; width: inherit;">
            {% include 'layouts/versions.html' %}
          </div>
        {% else %}
          {% if not READTHEDOCS %}
            {# test content - RTD automatically injects this #}
            {% include 'layouts/versions_local.html' %}
          {% endif %}
        {% endif %}
      </div>
      <div class="docs-italia__header-col docs-italia__header-col--github p-2">
        <!-- GITHUB -->
        <span class="it-icon-github"></span>
      </div>

    </div>

  </div>


  <!-- <div class="">
    <button aria-controls="header-search" class="" title="{{ _(t.search_form_on) }}" aria-label="{{ _(t.search_form_on) }}" aria-hidden="false">
    </button>
    <button aria-controls="header-search" class="" title="{{ _(t.search_form_off) }}" aria-label="{{ _(t.search_form_off) }}" aria-hidden="true">
    </button>
  </div>

  <div class="">
    <div class="" id="header-search">
      {% include 'layouts/searchbox_head.html' %}
    </div>
  </div> -->


  {% if layout == 'default' %}
  <div class="">
    <a class="" href="#menu" aria-controls="menu" aria-label="{{ t.toggle_menu_label }}" title="{{ t.toggle_menu_label }}">
      <span class="" role="presentation"></span>
      <span class="" role="presentation">Menu</span>
    </a>
  </div>
  {% endif %}
  <!-- Header-navbar -->
</header>
