  <section id="menu" class="">
    <!-- <h2 class="">{{ _(t.navigation_menu_label) }}</h2> -->
    <div class="">
      <div class="">
        <a class=""
          aria-controls="menu" aria-label="{{ _(t.navigation_menu_esc) }}" title="{{ t.navigation_menu_esc }}" href="#">
          <span class="" aria-hidden="true"></span>
        </a>
      </div>
    </div>
      {% if 'singlehtml' not in builder %}
      {% set global_toc = toctree(maxdepth=theme_navigation_depth|int, collapse=theme_collapse_navigation|tobool, includehidden=theme_includehidden|tobool) %}
      {% endif %}
      {% if global_toc %}

      <button data-toggle="collapse" data-target="#indice-dei-contenuti" aria-expanded="true" class="sidebar-btn p-3 sidebar-btn--desktop" type="button" aria-controls="indice-dei-contenuti">
        {{ _(t.content_index) }}
        <span class="it-icon-collapse float-right"></span>
        <span class="it-icon-expand float-right"></span>
      </button>
      <div class="sidebar-list--wrapper collapse show" id="indice-dei-contenuti" data-parent="#menu">
        {{ global_toc }}
      </div>
      {% else %}
      <!-- Local TOC -->
        {{ toc }}
      {% endif %}

      <!-- Other menu with button-->
      <button data-toggle="collapse" data-target="#indice-delle-figure" aria-expanded="true" class="sidebar-btn p-3 sidebar-btn--desktop" type="button" aria-controls="indice-delle-figure">
        {{ _(t.figures_index) }}
        <span class="it-icon-collapse float-right"></span>
        <span class="it-icon-expand float-right"></span>
      </button>
        <div id="indice-delle-figure" class="sidebar-list--wrapper collapse" data-parent="#menu">
          <ul>
            <li>Lorem Ipsum</li>
          </ul>
        </div>
      <button data-toggle="collapse" data-target="#indice-delle-tabelle" aria-expanded="true" class="sidebar-btn p-3 sidebar-btn--desktop" type="button" aria-controls="indice-delle-tabelle">
        {{ _(t.table_index) }}
        <span class="it-icon-collapse float-right"></span>
        <span class="it-icon-expand float-right"></span>
      </button>
        <div id="indice-delle-tabelle" class="collapse sidebar-list--wrapper" data-parent="#menu">
          <ul>
            <li>Lorem Ipsum</li>
          </ul>
        </div>
      <button data-toggle="collapse" data-target="#glossario" aria-expanded="true" class="sidebar-btn p-3 sidebar-btn--desktop" type="button" aria-controls="glossario">
        {{ _(t.glossary) }}
        <span class="it-icon-collapse float-right"></span>
        <span class="it-icon-expand float-right"></span>
      </button>
      <div id="glossario" class="sidebar-list--wrapper collapse" data-parent="#menu">
        <ul>
          <li>Lorem Ipsum</li>
        </ul>
      </div>
  </section>
