{%- if builder != 'singlehtml' %}
  <div role="search">
    <form class="" id="rtd-search-form" action="{{ pathto('search') }}" method="get">
      <div class="" role="search">
        <input type="hidden" name="check_keywords" value="yes" />
        <input type="hidden" name="area" value="default" />
        <input style="" class="p-2 text-grey" required="" id="cerca" type="text" name="q" placeholder="{{ t.search_form_label }}...">
        <i class=""></i>
      </div>
    </form>
  </div>
  <div class="">
    icona search
  </div>
{%- endif %}
