<!-- Toggle -->
<div class="navbar-toggler--wrap navbar-toggler--wrap--bottom p-3">
  <div class="navbar-toggler navbar-toggler--open p-0 border-0 ml-auto">
    <div class="navbar-toggler-bottom__chapter align-middle text-truncate">
      <span class="it-list mr-2"></span>{{ title }}
    </div>
  </div>
</div>

<div class="sidebar-tabs">

  <!-- Back button. -->
  <div class="row">
    <div class="col">
      <button class="navbar-toggler navbar-toggler--back border-0 ml-auto" type="button" data-toggle="offcanvas">
        <span class="it-arrow-left align-middle"></span>
        <span class="navbar-toggler__chapter align-middle ml-2">
          {{ _(t.indices_and_glossary) }}
        </span>
      </button>
    </div>
  </div>

  <!-- Tab -->
  <ul class="row ml-3 mr-3 nav nav-tabs" role="tablist">
    <li class="col text-center active">
      <a id="content-index-mobile-tab" data-toggle="tab" href="#content-index-mobile" aria-controls="content-index-mobile" role="tab" aria-selected="true" class="sidebar-btn p-2 sidebar-btn--mobile active show">
        {{ _(t.contents) }}
      </a>
    </li>
    <li class="col text-center">
      <a id="figures-index-mobile-tab" data-toggle="tab" href="#figures-index-mobile" aria-controls="figures-index-mobile" role="tab" aria-selected="false" class="col sidebar-btn p-2 sidebar-btn--mobile">
        {{ _(t.figures) }}
      </a>
    </li>
    <li class="col text-center">
      <a id="table-index-mobile-tab" data-toggle="tab" href="#table-index-mobile" aria-controls="table-index-mobile" role="tab" aria-selected="false" class="col sidebar-btn p-2 sidebar-btn--mobile">
        {{ _(t.tables) }}
      </a>
    </li>
    <li class="col text-center">
      <a id="glossary-index-mobile-tab" data-toggle="tab" href="#glossary-index-mobile" aria-controls="glossary-index-mobile" role="tab" aria-selected="false" class="col sidebar-btn p-2 sidebar-btn--mobile">
        {{ _(t.glossary) }}
      </a>
    </li>
  </ul>
</div>


<!-- Off canvas -->
<section class="docs-offcanvas-menu" id="sidebar-nav">
  <div class="tab-content sidebar-nav">

      <div id="content-index-mobile" class="content-index--menu tab-pane sidebar-list--wrapper fade show active" role="tabpanel" aria-labelledby="content-index-mobile-tab">
        <ul class="{% if pagename == master_doc %}current{% endif %}">
          <li class="toctree-l1 {% if pagename == master_doc %}current{% endif %}">
            <a href='{{ pathto(master_doc) }}'>{{ _(t.summary|capitalize) }}</a>
          </li>
        </ul>
        {% if content_toc and 'singlehtml' not in builder %}
        {{ content_toc }}
        {% else %}
        {{ toc }}
        {% endif %}
      </div>

      <div id="figures-index-mobile" class="figures-index--menu tab-pane sidebar-list--wrapper fade" role="tabpanel" aria-labelledby="figures-index-mobile-tab">
        {{ figures_toc }}
      </div>

      <div id="table-index-mobile" class="table-index--menu tab-pane sidebar-list--wrapper fade" role="tabpanel" aria-labelledby="table-index-mobile-tab">
        {{ tables_toc }}
      </div>

      <div id="glossary-index-mobile" class="glossary-mobile--menu tab-pane sidebar-list--wrapper fade" role="tabpanel" aria-labelledby="glossary-index-mobile-tab">
        {{ glossary_toc }}
      </div>

  </div>
</section>
