<!------------------------------------
  -- Discourse's comments templates --
	------------------------------------>
{% include 'layouts/templates/discourse.html' %}

<!------------------------------------
  -- markup_modifier's templates --
	------------------------------------>
{% include 'layouts/templates/markup_modifier.html' %}

<!------------------------------------
  -- gloassary_page's templates --
	------------------------------------>
{% include 'layouts/templates/glossary_page.html' %}
