<!------------------------------------
  -- Discourse's comments templates --
	------------------------------------>
{% include 'layouts/templates/discourse.html' %}

<!------------------------------------
  -- markup_modifier's templates --
	------------------------------------>
{% include 'layouts/templates/markup_modifier.html' %}

<!------------------------------------
  -- gloassary_page's templates --
	------------------------------------>
{% include 'layouts/templates/glossary_page.html' %}

<!------------------------------------
  -- searchbox_collapse's templates --
	------------------------------------>
{% include 'layouts/templates/searchbox_collapse.html' %}

<!------------------------------------
  -- section_navigation's templates --
	------------------------------------>
{% include 'layouts/templates/section_navigation.html' %}
