<!--
  Forum Italia comments templates
-->
{% include 'layouts/templates/forum_italia.html' %}

<!--
  markup_modifier templates
-->
{% include 'layouts/templates/markup_modifier.html' %}

<!--
  glossary_page templates
-->
{% include 'layouts/templates/glossary_page.html' %}

<!--
  searchbox_collapse templates
-->
{% include 'layouts/templates/searchbox_collapse.html' %}

<!--
  section_navigation templates
-->
{% include 'layouts/templates/section_navigation.html' %}

<!--
  tooltip templates
-->
{% include 'layouts/templates/tooltip.html' %}
