.rst-content

  .admonition-si-deve
    border-top-color: #743079
    background: #F4E6F5
    .admonition-title
      color: #743079

  .admonition-si-dovrebbe
    border-top-color: #004c9e
    background: #D1E7FF
    .admonition-title
      color: #004c9e

  .admonition-si-puo
    border-top-color: #3a7451
    background: #EBF5EF
    .admonition-title
      color: #3a7451

  .admonition-esempio
    border-top-color: #504d47
    background: #E6E5E3
    .admonition-title
      color: #504d47